<div id="token" > <!-- falta como el estilo y revisar algunos divs no van ej este -->
    <div > <!-- falta validacion -->
        <form ngNativeValidate [formGroup]="form" (ngSubmit)="validacion()">
           
                <p class="flow-text">El código de activación y token fueron enviados al correo electrónico ingresado.</p>
          
            <br><br>
            <div class="input-field col s10">
                <i class="material-icons prefix">no_encryption</i>
                <input class="validate" id="codigo" type="number" formControlName="codigo" name="codigo" minlength="3" maxlength="3" required>
                <label for="codigo">Código de activación</label>
                <!-- <div class="blue-text" *ngIf="fo.codigo.errors?.required">Máximo 3 caracteres</div> -->
            </div>

            <div class="input-field col s10">
                <i class="material-icons prefix">no_encryption</i>
                <input class="validate" id="token" type="number" formControlName="token" name="token" minlength="3" maxlength="3" required>
                <label for="token">Token</label>
                <!-- <div class="blue-text" *ngIf="fo.token.errors?.required">Máximo 3 caracteres</div -->>
            </div>
        
            
            <div class="input-field col s12 m3 offset-m1 l3 offset-l1">
                <button class="waves-effect teal darken-4 btn right" type="submit">Aceptar
                    <i class="material-icons right">send</i>
                  </button>
                <!--<a class="modal-close waves-effect teal darken-4 white-text btn-flat" type>Aceptar</a>-->
            </div>

        </form>
    </div>

 <!--    <br>
    <br> -->
    
   <!--  <div class="footer-copyright teal darken-3">
        <img class="responsive-img" src="https://framework-gb.cdn.gob.mx/landing/img/pleca.svg">
    </div> -->
</div>