<div class="container">
    <div class="row">
        <div class="col s12 m12">
          <div class="card">
            <div class="card-content">
                <br><br>
                <img class="responsive-img logo-d" src="../../../assets/logo2.png">
                    <p class="alineacion">Ciudad de México, a [00 de mes de] 2020</p><br>
                        Estimado(a) <b class="letras">[[nombre acreditado]]:</b> 
                        <br><br><br>
                        <p class="justificacion">
                        El <b class="letras">Banco del Bienestar</b> ha establecido inmejorables condiciones crediticias para ti, con la
                        tasa de interés más baja del mercado <b class="letras">(10% anual)</b> y tu primer pago hasta tres meses después de haberte
                        depositado [fecha primer mes de pago].Esperamos que tu actividad económica se fortalezca.
                        </p>
                        <br><br>
                        <table>
                          <tr>
                        <td colspan="4"> El día [fecha_depósito] transferimos [monto_dispersado] pesos a tu cuenta con <b class="letras">CLABE</b>
                        interbancaria [clave_interbancaria] como nos indicaste.</td>
                      </tr>
                      </table>
                      <br>
                      <div class="contenedor">
                        <div class="contenidos">
                          <div class="columna0 letras2 justificacion"><p class="spann">1</p> Tu Pago, fechas y plazos</div>
                          <div class="columna6 letras2 justificacion"> <p class="spann">2</p> Formas de Pago</div>
                      </div>
                      </div>
                      <div class="contenedor">
                        <div class="contenidos">
                            <div class="columna1"><img src="../../../assets/hucha.png"> </div>
                            <div class="columna2 justificacion">Realizarás <b class="letras">tu pago</b> a más tardar los días <b class="letras">[25]* </b>de cada mes</div>
                            <div class="columna3"><p class="spann2 center">1</p></div>
                            <div class="columna4 justificacion"><b class="letras">Sin salir de tu casa </b>, mediante transferencia electrónica desde cualquier portal electrónico
                              bancario, para realizar un SPEI (a través de computadora o aplicación móvil) a tu crédito.</div>
                        </div>
                        <div class="contenidos">
                            <div class="columna1"><i class="material-icons small">calculate</i></div>
                            <div class="columna2 justificacion">18 pagos de <b class="letras">[pago mensual],</b> a partir del <b class="letras">[fecha inicial de pago]</b></div>
                            <div class="columna3"><p class="spann2">2</p></div>
                            <div class="columna4 justificacion"><b class="letras">Acudiendo al banco de tu preferencia,</b> donde tengas cuenta y solicitando un SPEI, a tu crédito.</div>
                        </div>
                        <div class="contenidos">
                          <div class="columna1"><i class="material-icons small">show_chart</i></div>
                          <div class="columna2 justificacion">Adjunto encontrarás tu <b class="letras">calendario de pagos inicial,</b> con tus fechas limite para efectuarlos.</div>
                          <div class="columna3"><p class="spann2">3</p></div>
                          <div class="columna4 justificacion"><b class="letras">En efectivo. </b>Directo en sucursales del Banco del Bienestar a tu cuenta de crédito</div>
                      </div>
                      </div>
                      <br>
                          <p class="center">
                          <b class="letras2"> <p class="spann">3</p> Tu cuenta para pago de crédito</b></p>
                          <table>
                            <tr>
                              <td class="trr" colspan="1">BANCO</td>
                              <td class="trr" colspan="1">Cuenta CLABE de Tu Crédito 18 (digitos)</td>
                              <td class="trr" colspan="1">A tu nombre</td>
                            </tr>
                            <tr>
                              <td colspan="1"><p class="center">Banco del Bienestar</p></td>
                              <td colspan="1"><p class="center">[[CLABE]]</p></td>
                              <td colspan="1"><p class="center">[[nombre acreditado]]</p></td>
                            </tr>
                            </table>
                            <br><br>
                            <div class="contenedor">
                              <div class="contenidos">
                                <div class="columna0 justificacion"><b class="letras2"> <p class="spann">4</p> Ventajas de tu Crédito</b></div>
                          <div class="columna6 justificacion"><b class="letras2"> <p class="spann">5</p> No atraigas problemas:</b></div>
                                </div>
                            </div>
                            <div class="contenedor">
                              <div class="contenidos">
                                  <div class="columna1"><i class="material-icons small">emoji_symbols</i></div>
                                  <div class="columna2 justificacion">Puedes realizar <b class="letras">pagos anticipados,</b> sin penalización alguna.</div>
                                  <div class="columna3">
                                    <div class="col3-lin1"><i class="material-icons small">hotel</i></div>
                                    <div class="col3-lin2"><img src="../../../assets/saludo.png"></div>
                                  </div>
                                  <div class="columna4">
                                    <div class="col3-lin1 justificacion"><b class="letras">Prevé </b> con anticipación el <b class="letras">monto a pagar cada mes.</b> </div>
                                    <div class="col3-lin2 justificacion">El atraso en tus pagos,<b class="letras">te ocasionará:</b></div>
                                  </div>
                              </div>
                              <div class="contenidos">
                                  <div class="columna1"> <img src="../../../assets/telescopio.png"></div>
                                  <div class="columna2 justificacion">El pago puntual te da un <b class="letras">historial crediticio positivo,</b> para solicitar nuevo créditos, aqui o en otros bancos.</div>
                                  <div class="columna3"></div>
                                  <div class="columna4"><ol class="circle">
                                    <li>Cobros extras moratorios</li>
                                    <li>Afectación en tu historial crediticio.</li>
                                   <li>Requerimientos de pago por diversos medios.</li>
                                     </ol></div>
                              </div>
                          </div>
                            <br>
                              <p class="spann">6</p>
                        <b class="letras2"> Evita Fraudes</b>
                        <br>
                        <ol class="justificacion circle">
                        <li> El Banco del Bienestar <b class="letras">nunca requerirá cobros</b> en efectivo <b class="letras">por otros medios.</b></li>
                        <li>La única manera de realizar tu pago es a través de los <b class="letras">canales y lugares </b>de pagos <b class="letras">que te
                        mencionamos en puntos </b><b class="spann">2</b>y<b class="spann">3</b>.</li>
                        <li>Conserva tu <b class="letras">comprobante de pago </b> para cualquier aclaración.</li>
                        <li><b class="letras">Nunca</b> deposites a una <b class="letras">cuenta distinta,</b> que no sea la del crédito a tu nombre y al<b class="letras"> Banco del
                        Bienestar.</b></li>
                      </ol>
                          <p class="spann">7 </p> 
                        <b class="letras2"> Tú eres FIEL, el </b> <b class="letras3"> Banco del Bienestar</b> <b class="letras2"> también </b>
                        <br><br><p class="center">
                        <b class="letras">Recuerda: </b>Al pagar la totalidad de tu crédito, y en tiempo,<b class="letras">construirás una buena relación
                        crediticia</b> con <b class="letras">Tu Banco del Bienestar,</b> haciéndote candidato a recibir posibles nuevos créditos en el
                        futuro.
                        </p>
                        <br>
                        <p class="center">
                        Esperamos en el Banco del Bienestar que este sea el inicio de una fructifera relación, te
                        deseamos el mayor de los éxitos.</p>
                        <br>
                        <br>
                        <img class="responsive-img" src="../../../assets/logo3.png">
                    <br><br><br>
            </div>
          </div>
        </div>
    </div>
</div>