<app-header></app-header>
<div class="bg"></div><br>
<div class="container">
    <div id="forgot" class="col card s6 offset-s3 m6 offset-m3 l6 offset-l4">
        <div class="container">
            <form ngNativeValidate [formGroup]="form" (ngSubmit)="validacion()">
                <br><br><p>Se enviaran instrucciones al correo electrónico registrado, para la recuperación de contraseña.</p><br><br>
                <div class="row">
                    <div class="input-field col s10">
                        <i class="material-icons prefix">no_encryption</i>
                        <input placeholder="xxxxxx-xxxx" class="validate" id="codigo" type="text" formControlName="codigo" name="codigo" maxlength="12" required>
                        <label class="active" for="codigo">Código de activación</label>
                        <!--<div class="blue-text" *ngIf="fo.codigo.errors?.required">Máximo 3 caracteres</div>-->
                    </div>

                    <div class="input-field col s10">
                        <i class="material-icons prefix">https</i>
                        <input formControlName="password" name='password' id="password" [type]="passType" class="validate">
                        <label for="password">Contraseña Nueva</label>
                        <div class="red-text col s12" *ngIf="f.password.errors && !form.pristine">Debe tener un mínimo de 8 caracteres 1 Mayúscula 1 minúscula 1 número 1 carácter especial</div>
                        <i class="material-icons prefix" *ngIf="icon" (click)="viewPassword()">visibility_off</i>
                        <i class="material-icons prefix" *ngIf="!icon" (click)="viewPassword()">visibility</i>
                    </div>
                    <!--  -->

                    <!--  -->
                    <div class="input-field col s10">
                        <i class="material-icons prefix">https</i>
                        <input formControlName="rePassword" name='rePassword' id="rePassword" [type]="rePassType" class="validate">
                        <label for="rePassword">Confirmar Contraseña Nueva</label>
                        <i class="material-icons prefix cursor" *ngIf="reIcon" (click)="viewRePassword()">visibility_off</i>
                        <i class="material-icons prefix cursor" *ngIf="!reIcon" (click)="viewRePassword()">visibility</i>
                    </div>
                    <div class="red-text col s12" *ngIf="form.errors?.isEqual && !form.pristine">
                        <p>Las contraseñas deben de ser iguales.</p>
                    </div>
                    <div class="red-text col s12" *ngIf="form.errors?.isMatch">
                        <p>palabrota</p>
                    </div>
<!-- 
                    <div class="row">
                        <div class="col s12 col m6 offset-m3" >
                          <div style="padding-left: 2vw;">
                            <re-captcha (resolved)="resolved($event)"
                              [siteKey]="reCaptchaKey">
                            </re-captcha>
                          </div>
                        </div>
                      </div> -->

                    <div class="input-field col s5 offset-s7">
                        <button class="waves-light btn red darken-3 right" type="submit">Aceptar
                            <i class="material-icons right">send</i></button>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>

<div id="loader" class="modal transparent z-depth-0 center">
    <div class="modal-content" >
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-green-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
    </div>    
</div>