<div class="">
  <!-- container -->
  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-content">
          <div class="row" id="PDFamortizacion">
            <img class="logo" src="../../../assets/logo.png">
            <br>
            <p center class="card-title titulos black-text"><b>Anexo 3</b></p><br>
            <div class="row">
              <div class="col s5">
                <p center class="card-title titulos2 black-text"><b>Tabla de Amortización</b></p>
              </div>
              <div class="col s6">
                <p center class="card-title titulos2 black-text"><b>No. RECA. 0298-439-033296/01-02385-0720</b></p>
                <p center class="card-title titulos2 black-text">FECHA DE ELABORACIÓN: <b>{{date}}</b></p>
              </div>
              <div class="col s6">
                <p class="titulo">Nombre del CLIENTE: <b>{{ loanData.clientName }}</b></p>
                <!-- <p class="titulo"><b>{{ loanData.clientName }}</b></p> -->
                <br>
                <p class="titulo">Monto del Crédito: <b>{{ loanData.principal | currency:"MXN":"symbol" }}</b></p>
                <!-- <p class="titulo"><b>{{ loanData.principal | currency:"MXN":"symbol" }}</b></p> -->
              </div>
              <div class="col s6">
                <p class="titulo">Plazo: <b>{{ loanData.numberOfRepayments }} Meses.</b></p>
                <p class="titulo">Periodicidad del pago: <b>Mensual</b></p>
                <br>
                <p class="titulo">Total: <b>{{ loanData.originalSchedule.totalRepaymentExpected | currency:"MXN":"symbol" }}</b></p>
                <!-- <p class="titulo"><b>{{ loanData.summary.totalExpectedRepayment | currency:"MXN":"symbol" }}</b></p> -->
              </div>
            </div>
            <table>
              <thead>
                <tr>
                  <th>No. de Pago</th>
                  <th>Fecha limite de pago</th>
                  <th>Saldo Inicial</th>
                  <th>Pago a capital</th>
                  <th>Intereses del Periodo</th>
                  <th>Iva de Interés</th>
                  <th>Saldo Insoluto</th>
                  <th>Monto del pago</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pagos of loanData.originalSchedule.periods | slice:1; let i = index;"> 
                  <td>{{pagos.period}}</td>
                  <td>{{pagos.dueDate[2] + "/" + pagos.dueDate[1] + "/" + pagos.dueDate[0]}}</td>
                  <td>{{pagos.principalLoanBalanceOutstanding | currency:"MXN":"symbol"}}</td>
                  <td>{{pagos.principalOriginalDue | currency:"MXN":"symbol"}}</td>
                  <td>{{pagos.interestDue | currency:"MXN":"symbol"}}</td>
                  <td>{{pagos.taxOnInterestDue | currency:"MXN":"symbol"}}</td>
                  <td>{{pagos.principalLoanBalanceOutstanding | currency:"MXN":"symbol"}}</td>
                  <td>{{pagos.totalDueForPeriod | currency:"MXN":"symbol"}}</td>
                </tr>
              </tbody>
            </table>
            <br>
            <div class="col s12">
              <p class="right"><b>Total a pagar: </b>{{ loanData.originalSchedule.totalRepaymentExpected | currency:"MXN":"symbol" }}</p>
            </div>
            <br>
            <br>
            <p class="parrafo">SALDOS Y PAGOS CONSIDERANDO QUE SE REALIZAN EN LAS FECHAS MOSTRADAS. CUALQUIER
              ATRASO CAUSARÁ INTERESES MORATORIOS.</p>
              <br>
            <p class="parrafo"><b>Fecha de cálculo de intereses.</b></p>
            <p class="parrafo"> Los días de cálculo de intereses serán los días últimos de cada mes, por lo que
              a partir del día siguiente hábil se computarán los intereses respectivos. </p>
              <br>
              <div>
                <p class="center"><b>{{firma}}</b></p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <ul>
      <li>
        <button class="waves-effect teal btn darken-4 modal-trigger left ml-3"
          (click)="downloadPDF($event, 'amortizacion')">
          <span class="white-text text-darken-4" style="font-size: 14px;">
            DESCARGAR PDF
          </span>
        </button>
      </li>
    </ul>
  </div> -->
</div>
