
<div class="container">

    <img class="logo" src="../../../assets/logo.png">
    <br>
    <p center class="card-title titulos black-text"><b>Anexo 3</b></p><br>
    <div class="row">
        <div class="col s5">
            <p center class="card-title titulos2 black-text"><b>Tabla de Amortización</b></p>
        </div>
        <div class="col s6">
            <p center class="card-title titulos2 black-text"><b>No. RECA. 0298-439-033296/01-02385-0720</b></p>
            <p center class="card-title titulos2 black-text"><b>FECHA DE ELABORACIÓN:</b></p>
        </div>
        <div class="col s6">
            <p class="titulo"><b>Nombre del CLIENTE</b></p>
            <br>
            <p class="titulo"><b>Monto del Crédito:</b></p>
            <p class="titulo"><b>$</b></p>
        </div>
        <div class="col s6">
            <p class="titulo"><b>Plazo:</b></p>
            <p class="titulo"><b>Periodicidad del pago:</b></p>
            <br>
            <p class="titulo"><b>Total:</b></p>
            <p class="titulo"><b>=</b></p>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>No. de Pago</th>
                <th>Fecha limite de pago</th>
                <th>Saldo Inicial</th>
                <th>Pago a capital</th>
                <th>Intereses del Periodo</th>
                <th>Iva de Interés</th>
                <th>Saldo Insoluto</th>
                <th>Monto del pago</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
        </tbody>
    </table>
    <div class="col s8">
        <p class="right-align"><b>Total a pagar: $</b></p>
    </div>
    <p class="parrafo">SALDOS Y PAGOS CONSIDERANDO QUE SE REALIZAN EN LAS FECHAS MOSTRADAS. CUALQUIER
        ATRASO CAUSARÁ INTERESES MORATORIOS.</p>
    <p class="parrafo"><b>Fecha de cálculo de intereses.</b></p>
    <p class="parrafo"> Los días de cálculo de intereses serán los días últimos de cada mes, por lo que
        a partir del día siguiente hábil se computarán los intereses respectivos. </p>

</div>