<div id="map-point-form">
    <h4>Mi Dirección</h4>
    <div><label for="name">Dirección: </label>
        <input type="text" id="name" name="name" disabled="true" [(ngModel)]="mapPoint.name" />
    </div>
    <div class="row">
        <div class="col s6"><label for="longitude">Longitud: </label>
            <input type="text" id="longitude" name="longitude" disabled="true" [ngModel]="mapPoint.longitude" />
        </div>
        <div class="col s6"><label for="latitude">Latitud: </label>
            <input type="text" id="latitude" name="latitude" disabled="true" [ngModel]="mapPoint.latitude" />
        </div>
    </div>
</div>