<app-header></app-header>
<br><br>
<div class="container">
    <div class="row">
        <div class="col s12 m12">
          <div class="card">
            <div class="card-content">
              <span class="card-title titulos black-text"><b>LEGAL</b></span><br>
              <div class="row">
                  <div class="col s12">
                    <a  href="#" class="subrayar black-text"><i class="material-icons icon-gold">
                        library_books</i>Contrato de Adhesión BANCO DEL BIENESTAR Crédito Directo Productivo.</a>
                  </div>
                 
                  <div class="col s12">
                    <a  href="#" class="subrayar black-text"><i class="material-icons icon-gold">
                        library_books</i>Solicitud de Crédito Directo Productivo.</a>
                  </div>

                  <div class="col s12">
                    <a  href="#" class="subrayar black-text"><i class="material-icons icon-gold">
                        library_books</i>Carátula Crédito Directo Productivo.</a>
                  </div>

                  <div class="col s12">
                    <a  href="#" class="subrayar black-text"><i class="material-icons icon-gold">
                        library_books</i>Tabla de Amortización Crédito Directo Productivo.</a>
                  </div>

                  <div class="col s12">
                    <a  href="#" class="subrayar black-text"><i class="material-icons icon-gold">
                        library_books</i>Disposiciones Legales Crédito Dicrecto Productivo.</a>
                  </div>

                  <div class="col s12">
                    <a  href="#" class="subrayar black-text"><i class="material-icons icon-gold">
                        library_books</i>Pagaré.</a>
                  </div>

                  <div class="col s12">
                    <a  href="#" class="subrayar black-text"><i class="material-icons icon-gold">
                        library_books</i>Comprobante de Registro.</a>
                  </div>
              </div> 
                <br>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br>
    </div>
 
    <app-footer></app-footer>
