<app-header></app-header>

<div class="container">
    <blockquote>
        <p class="flow-text"><b>¿Cómo Funciona?</b></p>
    </blockquote>
    <div class="col s10 offset-s1">
        <p class="flow-text center-align">Solo sigue unos sencillos pasos, ten a la mano tu documentación, y estaras listo para poder <b>aplicar a un credito, ¡es facil!</b></p>
    </div>
    <div class="row">
        <div class="col m3 s6">
            <img class="responsive-img" src="../../assets/Banco-del-Bienestar-Gráficos---RQ1.png">
        </div>
        <div class="col m3 s6">
            <img class="responsive-img" src="../../assets/Banco-del-Bienestar-Gráficos----RQ2.png">
        </div>
        <div class="col m3 s6">
            <img class="responsive-img" src="../../assets/Banco-del-Bienestar-Gráficos---RQ3.png">
        </div>
        <div class="col m3 s6">
            <img class="responsive-img" src="../../assets/Banco-del-Bienestar-Gráficos---RQ4.png">
        </div>
    </div>
</div>

<div class="row">
    <div class="col m2  s8 offset-s1">
        <img class="responsive-img" src="../../assets/Banco-del-Bienestar-Gráficos---ENROLL.png">
    </div>
    <div class="col m9 ">
        <!---->
        <ul class="stepper linear parallel horizontal">
            <li class="step">
                <div class="step-title waves-effect waves-dark">Crear Cuenta</div>
                <div class="step-content">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="email" type="email" required name='email' class="validate">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="password" type="password" required name='password' class="validate">
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="passwordconfirm" type="password" required name='passwordconfirm' class="validate">
                            <label for="passwordconfirm">Confirma el Password</label>
                        </div>
                        <div class="col s12 m6">
                            <li><a routerLink="/login">Si ya tienes cuenta, Inicia Sesión</a></li>
                        </div>
                        <div class="col s12 m6">
                            <li><a class="waves-effect teal darken-4 btn modal-trigger" href="#modal1">Registrarse</a></li>
                        </div>
                    </div>
                    <div class="step-actions">
                        <!--       <button class="waves-effect waves-dark btn" type="submit">Registrarse</button> -->
                    </div>
                </div>
            </li>
            <li class="step">
                <div class="step-title waves-effect waves-dark">Datos Personales</div>
            </li>
            <li class="step">
                <div class="step-title waves-effect waves-dark">Subir Documentos</div>
            </li>
            <li class="step">
                <div class="step-title waves-effect waves-dark">Datos Socioecónomicos</div>
            </li>
            <li class="step">
                <div class="step-title waves-effect waves-dark">Descarga de Documentos</div>
            </li>
            <li class="step">
                <div class="step-title waves-effect waves-dark">Felicidades!!!</div>
            </li>
        </ul>
        <!---->
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Cuenta Creada</h4>
        <p class="flow-text"><b>Ya casi: </b>Revisa tu correo.</p>
        <p class="flow-text">Para continuar activa tu cuenta, revisa el correo que nos proporcionaste y encontraras las instrucciones para continuar con tu solicitud.</p>
    </div>
    <div class="modal-footer">
        <a routerLink="/home" class="modal-close waves-effect teal darken-4 white-text btn-flat">Aceptar</a>
    </div>
</div>

<app-footer></app-footer>