<div class="navbar-fixed">
    <nav class="teal darken-4">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="logoHead" [ngClass]="{'my-class': isLogged}">
                    <img src="https://framework-gb.cdn.gob.mx/landing/img/logofooter.svg">
                </a>
                <ul id="nav-mobile" class="right">
                    <li *ngIf="!isLogged"><a href="/login"><i class="material-icons left">account_circle</i>Ingresar</a>
                    </li>
                    <li *ngIf="isLogged"><a (click)="userService.logout()"><i
                                class="material-icons left">account_circle</i>Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li *ngIf="!isLogged"><a href="/login"><i class="material-icons left">account_circle</i>Ingresar</a></li>
    <li *ngIf="isLogged"><a (click)="userService.logout()"><i class="material-icons left">account_circle</i>Cerrar
            sesión</a></li>
</ul>