<!--NAVAR-->
<div class="navbar-fixed">
    <nav class="teal darken-4">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="logoHead">
                    <img src="https://framework-gb.cdn.gob.mx/landing/img/logofooter.svg">
                </a>

                <a href="#" data-target="mobile-demo" class="sidenav-trigger hide-on-large-only"><i
                        class="material-icons">menu</i></a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Personas</a></li>
                    <li><a href="#">Empresas y Gobierno</a></li>
                    <li><a href="#">Sucursales</a></li>
                    <li><a href="/login"><i class="material-icons left">account_circle</i>Ingresar</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">Personas</a></li>
        <li><a href="#">Empresas y Gobierno</a></li>
        <li><a href="#">Sucursales</a></li>
        <li><a href="#" class="material-icons">account_circle</a>Ingresar</li>
    </ul>
</div>