<div class=""><!-- container -->
    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <img class="responsive-img logo-bdb" src="../../../assets/logo.png">
                        <span class="card-title titulos black-text"><b>PAGARÉ</b></span><br>
                        <div class="valor">VALOR: $XXX,XXX.00</div>
                        <div class="justificacion">
                            <div class="col s12 separa">
                                Por el presente pagaré del valor recibido, el suscrito
                                <div class="input-field inline">
                                    <input type="text" class="validate">
                                </div>
                                , me obligo incondicionalmente pagar a la
                                orden de Banco del Bienestar, Sociedad Nacional de Crédito, Institución de Banca de
                                Desarrollo (el “Tenedor”), la cantidad total de
                                $
                                <div class="input-field inline">
                                    <input id="cantidad_numero" type="text" class="validate">
                                </div>
                                (
                                <div class="input-field inline">
                                    <input id="cantidad_letra" type="text" class="validate">
                                </div>
                                M.N.), cuya suma será pagadera a la vista. Todas las cantidades pagaderas en términos
                                de este PAGARÉ, serán cubiertas en el domicilio del Tenedor, ubicado en Avenida Río
                                Magdalena 115, Col. Tizapán San Ángel, C.P. 01090,
                                Alcaldía Álvaro Obregón, en la Ciudad de México, o en cualquier otro lugar que el
                                Tenedor le notifique al Deudor por escrito.
                            </div>
                            <div class="col s12 separa">
                                El pago de la cantidad indicada anteriormente, se deberá efectuar precisamente el
                                día_________ señalada como fecha de vencimiento. Cuando
                                la fecha en que debe hacerse el pago no sea un día inhábil, el pago deberá efectuarse al
                                día hábil inmediato siguiente.
                            </div>
                            <div class="col s12 separa">
                                Los intereses ordinarios que devengará la cantidad que ampara este título serán
                                calculados sobre saldos insolutos a razón de la tasa de interés
                                anual fija del 15% y serán pagados mensualmente a partir de la fecha de suscripción de
                                éste PAGARÉ y hasta la fecha en que el saldo principal
                                insoluto de este PAGARÉ sea pagado en su totalidad.
                            </div>
                            <div class="col s12 separa">
                                El deudor se obliga a pagar por concepto intereses moratorios una tasa de interés
                                moratoria será 1.5 veces la tasa de interés ordinaria del
                                saldo insoluto de este PAGARÉ, más los intereses ordinarios respectivos, así como los
                                honorarios de abogados, en caso de incumplimiento de
                                este PAGARÉ.
                            </div>
                            <div class="col s12 separa">
                                Este PAGARÉ se regirá e interpretará de acuerdo con las leyes de los Estados Unidos
                                Mexicanos. Para cualquier acción legal o procedimiento
                                relacionado con el presente PAGARÉ, el deudor y el tenedor se someten expresa e
                                irrevocablemente a la jurisdicción de (i) los tribunales
                                competentes del domicilio del Tenedor y (ii) los tribunales competentes del domicilio
                                del deudor, a elección de la parte que inicie cualquier
                                acción o procedimiento que surja como consecuencia de o en relación a este PAGARÉ, o
                                para el reconocimiento o ejecución de cualquier
                                sentencia. El Deudor y el Tenedor de este PAGARÉ renuncian, de manera expresa e
                                irrevocable, a cualquier otra jurisdicción que pudiere
                                corresponderles en virtud de sus respectivos domicilios presente o futuros o por
                                cualquier otro motivo.
                            </div>
                            <div class="col s12 separa">
                                Para los efectos del artículo 128 de la Ley General de Títulos y Operaciones de Crédito
                                de los Estados Unidos Mexicanos, el plazo para la
                                presentación de este PAGARÉ por medio del presente se prorroga irrevocablemente hasta
                                por 3 años, en el entendido de que dicha extensión
                                no impedirá la presentación de éste PAGARÉ con anterioridad a dicha fecha.
                            </div>
                            <div class="col s12 separa">
                                Para todo lo relacionado con este PAGARÉ, el deudor señala como su domicilio para
                                recibir notificaciones el que aparece bajo su firma en este
                                PAGARÉ.
                            </div>
                            <div class="col s12 fecha-pagare">
                                ____________,__________ a ___ de _______ de 202_
                            </div>
                            <div class="col s12 separa">
                                [ESPACIO PARA INCORPORAR LA CADENA GENERADA AL FIRMARSE EL PAGARÉ]
                            </div>
                            <div class="col s12 separa">
                                [Nombre del Cliente]
                            </div>
                            <div class="col s12 separa">
                                El Cliente firma el presente título de crédito con su firma electrónica avanzada vigente
                                generada por el Servicio de Administración Tributaria
                                (SAT) como autoridad certificadora en términos de los artículos 2, fracción XIII, 23 y
                                28 de la Ley de Firma Electrónica Avanzada, así como los
                                artículos 89 a 99 del Código de Comercio, por lo que producirá los mismos efectos que
                                las leyes otorgan a la firma autógrafa y, en
                                consecuencia, tendrá el mismo valor probatorio.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>