<div class="container">
    <div class="row"  id="PDFautorizacion">
        <div class="col s12 m12">
          <div class="card">
            <div class="card-content">
                <br><br>
                    <p class="titulos">Autorización para investigación de Crédito</p><br><br>
                    <div class="container">
                    <p class="justificacion">Por este conducto autorizo expresamente al Banco del Bienestar, Sociedad Nacional de Crédito, 
                        Institución de Banca de Desarrollo (en adelante 
                        <b>BANCO DEL BIENESTAR)</b> para que por conducto de sus funcionarios facultados, lleve a cabo
                        las investigaciones sobre mi comportamiento crediticio en las Sociedades de
                        Información Crediticia que estime conveniente. Declaro que conozco la naturaleza
                        y alcance de (i) las Sociedades de Información Crediticia; (ii) de la información
                        contenida en los reportes de crédito y en los reportes de crédito especiales; (iii) de
                        la información que solicitará <b>BANCO DEL BIENESTAR</b> a las Sociedades de
                        Información Crediticia y, (iv) el uso que hará <b>BANCO DEL BIENESTAR</b> 
                        de tal información. Autorizo a <b>BANCO DEL BIENESTAR</b> para que realice consultas
                        periódicas de mi historial crediticio, consintiendo que esta autorización se encuentre
                        vigente por un periodo de tres años contados a partir de la firma del presente
                        documento y/o durante todo el tiempo que mantenga una relación jurídica con <b>BANCO DEL BIENESTAR.</b>
                        Estoy consciente y acepto que este documento quede bajo custodia de <b>BANCO DEL BIENESTAR,</b>
                        para efectos de control y cumplimiento de los artículos 28 y 31 de la Ley para Regular las Sociedades de Información Crediticia.</p>
                    </div><br><br><br>
                    <p class="center">Ciudad de México, a <b>{{date}}</b></p><br><br><br>
                        <div class="row">
                            <div class="col s4 offset-s4">
                                <p class="center"><b>EL CLIENTE</b></p>
                            </div><br><br><br><br><br><br>
                            <div class="col s4 hide">.</div>
                            <div class="col s4 offset-s4">
                                <hr>
                            </div>
                        </div>
                        <br>
                
            </div>
          </div>
        </div>
    </div>
</div>
<!-- 
<div class="row">
    <ul>
      <li>
        <button class="waves-effect teal btn darken-4 modal-trigger left ml-3"
          (click)="downloadPDF($event, 'autorizacion')">
          <span class="white-text text-darken-4" style="font-size: 14px;">
            DESCARGAR PDF
          </span>
        </button>
      </li>
    </ul>
  </div> -->