
  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-content">
          <br><br>
          
            <p class="justificacion"><b>CONTRATO DE CRÉDITO (EL “CONTRATO”) QUE CELEBRAN EL BANCO DEL BIENESTAR,
                SOCIEDAD
                NACIONAL DE CRÉDITO, INSTITUCIÓN DE BANCA DE DESARROLLO, A QUIEN EN LO SUCESIVO SE
                LE DENOMINARÁ “EL BANCO”, Y LA PERSONA CUYOS DATOS CONSTAN EN LA SOLICITUD DE
                CRÉDITO, A QUIEN EN LO SUCESIVO SE LE DESIGNARÁ COMO EL “CLIENTE”, Y JUNTO CON EL
                BANCO SE LES DENOMINARÁ COMO LAS “PARTES”, DE CONFORMIDAD CON LAS DECLARACIONES
                Y CLÁUSULAS SIGUIENTES:</b>
            </p>
            <br>
            <p class="center"><b>DECLARACIONES</b></p>
            <br>
            <p class="subrayar">I.- Declara EL BANCO por conducto de su representante legal:</p>
            <br>
            <p class="justificacion">
              <b>a).-</b>Que es una Sociedad Nacional de Crédito, Institución de Banca de Desarrollo, con funciones de
              banca social
              y cuyas operaciones bancarias y servicios financieros se apegan a lo establecido en la Ley Orgánica del
              Banco
              del Bienestar y a la Ley de Instituciones de Crédito, así como en las demás leyes y disposiciones
              aplicables a
              las mismas.
              <br>
              <b>b).-</b>Que en cumplimiento a su Ley Orgánica, tiene entre sus objetivos promover el financiamiento.
              <br>
              <b>c).-</b>Que su representante cuenta con las facultades necesarias para obligarla y que las mismas no le
              han sido
              revocadas, modificadas ni limitadas en forma alguna.
              <br>
              <b>d).-</b>Que señala como su domicilio el ubicado en Avenida Río Magdalena 115 , Col. Tizapán San Ángel,
              C.P.
              01090, Alcaldía Álvaro Obregón, en la Ciudad De México, Teléfono (01 55) 54813300, y su dirección de
              internet es
              <a class="blue-text subrayar" target="_blank"
                href="www.bancodelbienestar.gob.mx./">www.bancodelbienestar.gob.mx.</a>
              <br>
              <b> e).-</b>Que explicó e hizo saber al <b>CLIENTE</b> que el crédito es formalizado de forma electrónica,
              y que el texto
              íntegro de las disposiciones legales citadas en el presente <b>CONTRATO</b> puede ser consultado en
              <a class="blue-text subrayar" target="_blank" href="www.gob.mx/condusef">www.gob.mx/condusef</a>, dentro
              del apartado denominado “Registro de Contratos de Adhesión” (RECA )
              <a class="blue-text subrayar" target="_blank"
                href="http://e-portalif.condusef.gob.mx/reca/_index.php">https://e-portalif.condusef.gob.mx/reca/_index.php</a>,
              así como en la página de internet <a class="blue-text subrayar" target="_blank"
                href="www.bancodelbienestar.gob.mx.">www.bancodelbienestar.gob.mx.</a>
              <br>
              <b>f).-</b>Que el presente Contrato se encuentra registrado como un Contrato de Adhesión en el Registro de
              Contratos
              de Adhesión de la Comisión Nacional para la Protección y Defensa de los Usuarios de Servicios Financieros
              (CONDUSEF) bajo el número: <b>0298-439-033296/01-02385-0720.</b>
              <br>
              <b>g).-</b> Que el Costo Anual Total (CAT) del presente crédito es el que se establece en la Carátula del
              Crédito y se
              tiene por aquí reproducido como si se insertase a la letra. El CAT se encuentra calculado a la fecha de
              firma del
              presente Contrato en términos anuales.
            </p>
            <p class="cursiva justificacion">“CAT: El Costo Anual Total de financiamiento expresado en
              términos porcentuales anuales que, para fines informativos y de comparación, incorpora la totalidad de
              los costos y gastos inherentes a los Créditos.”</p>
            <br>
            <p class="justificacion subrayar">II.- Declara el CLIENTE por su propio derecho y bajo protesta de decir
              verdad:</p>
            <br>
            <p class="justificacion">
              <b>a).-</b>Que son auténticos los datos que se señalan en la solicitud electrónica de crédito, disponible
              en el sitio
              <a class="blue-text subrayar" target="_blank"
                href="https://bancaporinternet.bancodelbienestar.com.mx/home">https://bancaporinternet.bancodelbienestar.com.mx/home</a>
              y que en adelante se le identifica como la "SOLICITUD DE CRÉDITO".
              <br>
              <b>b).-</b>Que es su voluntad obtener un crédito simple por la cantidad señalada en la carátula del
              crédito la cual se
              agrega al presente <b>CONTRATO</b>como <b>Anexo 1</b>, formando parte integral del mismo (en adelante la
              <b>“CARÁTULA”</b>) y que conoce y entiende perfectamente los términos y condiciones del presente
              <b>CONTRATO.</b>
              <br>
              <b>c).-</b>Que <b>EL BANCO</b> le informó el Costo Anual Total (CAT) del crédito que se contrata en
              términos del presente <b>CONTRATO.</b>
              <br>
              <b>d).-</b>Que cuenta con los recursos económicos suficientes para dar cumplimiento a todas y cada una de
              las
              obligaciones señaladas en el presente <b>CONTRATO.</b>
              <br>
              <b>e).-</b> Que los recursos con los cuales ha de pagar el crédito contratado, han sido o serán obtenidos
              o generados
              a través de una fuente de origen lícito. Asimismo, que el destino que dará a los recursos obtenidos al
              amparo
              del presente <b>CONTRATO</b> será tan solo a fines permitidos por la ley, y que no se encuentran dentro de
              los
              supuestos establecidos en los artículos 139 Quáter y 400 bis del Código Penal Federal.
              <br>
              <b>f).-</b>Que <b> EL BANCO</b> le informó que cuenta con asistencia, acceso y facilidades necesarias para
              atender las
              aclaraciones relacionadas con el presente <b>CONTRATO</b>.
              <br>
              <b>g).-</b>Que con anterioridad a la celebración del presente <b>CONTRATO</b> y al llenado de la
              <b>SOLICITUD DE
                CRÉDITO, EL BANCO </b>le explicó el tratamiento que le dará a sus datos personales que recaba de manera
              a
              través de su portal de internet <a class="blue-text subrayar" target="_blank"
                href="www.bancodelbienestar.com.mx,">www.bancodelbienestar.com.mx,</a>, mediante la entrega de un Aviso
              de Privacidad,
              donde se señala, además del tratamiento que se le darán a sus datos personales, los derechos de acceso,
              rectificación, cancelación, oposición y revocación con los que cuenta y la forma cómo los puede hacer
              valer.
              <br>
              <b>h).-</b>Que para efectos del presente <b>CONTRATO</b> actúa por su propio derecho.
              <br>
              <b>i).-</b>Que en términos de lo señalado por los artículos 18 y 21 de la Ley Federal para la Prevención e
              Identificación
              de Operaciones con Recursos de Procedencia Ilícita, su Reglamento y las Reglas de Carácter General a que
              se refiere la Ley Federal para la Prevención e Identificación de Operaciones con Recursos de Procedencia
              Ilícita
              (i) declara que no hace entrega a <b>EL BANCO </b>de documentación oficial alguna relativa al dueño
              beneficiario del
              presente contrato en virtud de que no existe el mismo, ya que la finalidad de la obtención del crédito es
              el
              destinar los recursos del mismo a la adquisición de capital de trabajo; y (ii) que le proporcionó a EL
              BANCO
              toda la información y documentación necesaria para el cumplimiento de lo señalado en la ley, reglamento y
              reglas citadas.
              <br>
              <b>j).-</b>Que conoce que el presente financiamiento podrá ser fondeado con recursos provenientes de la
              misma
              institución financiera y/o cualquier institución financiera del país o del extranjero, Banca de
              Desarrollo, Banca
              Comercial o cualquier otra fuente de fondeo.
              <br>
              <b>k).-</b> Que para efectos de si el <b>CLIENTE</b> realiza o no actividades empresariales, se tomará
              como válida la
              manifestación realizada por el mismo en la solicitud de crédito.
              <br>
              Expuesto lo anterior, se otorgan las siguientes:
              <br>
              <br>
            </p>
            <p class="center"><b>C L Á U S U L A S</b></p>
            <br>
            <p class="subrayar">PRIMERA.- APERTURA DE CRÉDITO.</p>
            <p class="justificacion">
              <b>EL BANCO</b> otorga a favor del <b>CLIENTE</b> un crédito hasta por la cantidad señalada en la
              <b>CARÁTULA </b>que se
              tiene aquí por reproducida como si se insertase a la letra, en una sola exhibición; en el entendido de que
              en el
              monto del crédito no quedan comprendidos los intereses e impuestos, que de conformidad con lo estipulado
              en
              el presente <b>CONTRATO</b>, el <b>CLIENTE</b> deba cubrir a <b>EL BANCO</b> (en adelante el <b
                class="subrayar">“CRÉDITO”</b>).
              <br>
              El <b>CLIENTE</b> deberá pagar el monto total del <b>CRÉDITO </b>con la periodicidad y por los montos
              señalados en la
              tabla de amortización que se agrega al presente <b>CONTRATO (como Anexo 2)</b>, formando parte integral
              del
              mismo (en adelante la <b class="subrayar">“TABLA DE AMORTIZACIÓN”</b>).
              <br>
              <br>
            </p>
            <p class="subrayar">SEGUNDA.- DISPOSICIÓN DEL CRÉDITO.</p>
            <p class="justificacion">
              El importe del <b>CRÉDITO</b> otorgado por <b>EL BANCO</b> al<b>CLIENTE</b> se realiza en este acto
              mediante transferencia
              electrónica de fondos a la cuenta que el <b>CLIENTE</b> haya indicado para tales efectos en la SOLICITUD
              DE
              <b>CRÉDITO</b> por el monto señalado en la <b>CARÁTULA.</b>
              <br>
              Las <b>PARTES</b> acuerdan que la realización de la transferencia electrónica de fondos y el comprobante
              de la
              misma a la cuenta del <b>CLIENTE</b> constituirán el recibo más amplio y suficiente que en derecho
              corresponda y
              serán prueba de la disposición del <b>CRÉDITO.</b>
              <br>
              Al momento de la firma electrónica del presente Contrato, el <b>CLIENTE</b> deberá suscribir a favor de
              <b>EL BANCO</b>
              un pagaré que documente la disposición del Crédito.
              <br>
              <br>
            </p>
            <p class="subrayar">TERCERA.- DESTINO DEL CRÉDITO.</p>
            <p class="justificacion">
              El <b>CLIENTE</b>se obliga a destinar el importe del <b>CRÉDITO</b> para la adquisición de capital de
              trabajo, que siempre
              deberán ser productos o servicios lícitos.</p>
            <br>
            <p class="subrayar">CUARTA.- VIGENCIA DEL CONTRATO.</p>
            <p class="justificacion">
              El presente <b>CONTRATO</b> tiene una vigencia de <b>21 meses (3 meses de gracia y 18 meses de pago)</b>
              que
              empezará a correr a partir de la fecha de firma del mismo; plazo que no podrá ser prorrogado, salvo que
              exista
              alguna obligación de pago pendiente de parte del <b>CLIENTE </b>al término de vigencia del mismo, en cuyo
              caso, el
              <b>CONTRATO</b> continuará vigente hasta en tanto el <b>CLIENTE</b> liquide la totalidad de los montos
              adeudados a <b>EL
                BANCO</b>, es decir, su plazo se volverá indefinido.
            </p>
            <br>
            <p class="subrayar"> QUINTA.- INTERESES.</p>
            <p class="subrayar">I.- Tasa de interés ordinaria.</p>
            <p class="justificacion">
              La tasa de interés ordinaria es fija y está expresada en términos porcentuales y <b
                class="subrayar">ANUALES</b> con relación al
              <b>CRÉDITO</b> contratado mediante el presente <b>CONTRATO.</b> <b class="subrayar">EL MONTO DE LA TASA DE
                INTERÉS ORDINARIA
                ES DEL [valor de la tasa]%.</b> <b>EL BANCO</b> no cobrará los intereses del <b>CRÉDITO</b> de manera
              anticipada, sino
              únicamente por periodos vencidos, de acuerdo con cada fecha de corte señaladas en la <b>TABLA DE
                AMORTIZACIÓN</b> correspondiente.
            </p>
            <br>
            <p class="subrayar"> I.1.- Metodología para el cálculo de intereses ordinarios.</p>
            <p class="justificacion">
              El saldo insoluto del <b>CRÉDITO</b>devengará intereses ordinarios, los cuales se calcularán multiplicando
              el monto
              del saldo insoluto por la tasa de interés aplicable. El monto por concepto de intereses ordinarios a pagar
              por
              cada periodo de intereses se obtendrá multiplicando el saldo insoluto del <b>CRÉDITO</b> por la tasa de
              interés anual
              divida entre trescientos sesenta (360), multiplicada por el número de días que comprenda el periodo de
              interés
              correspondiente. Los intereses ordinarios serán pagados a partir de la fecha de firma de este
              <b>CONTRATO</b> y
              hasta la fecha en que el <b>CRÉDITO</b>sea pagado en su totalidad. Los intereses ordinarios causarán el
              correspondiente Impuesto al Valor Agregado en términos de la Ley aplicable.
              <br>
              Para efectos del presente <b>CONTRATO</b>, se entenderá por "Periodo de Intereses", los lapsos de tiempo
              con base
              en el cual, se calcularán los intereses que devengue el saldo insoluto del <b>CRÉDITO</b>, en el entendido
              que el
              primer “Periodo de Interés” comenzará a partir de la fecha en que haya culminado el periodo de gracia, y
              los
              periodos de intereses subsecuentes comenzarán a partir del primer día inmediatamente posterior al último
              día
              del Periodo de Intereses inmediato anterior, según lo dispuesto en la <b>TABLA DE AMORTIZACIÓN.</b>
              <br>
              Los intereses ordinarios serán pagaderos por cada Periodo de Intereses que deberán coincidir con las
              fechas de
              vencimiento, con la periodicidad aplicable, según lo dispuesto en la <b>TABLA DE AMORTIZACIÓN.</b>
              <br>
              <br>
            </p>
            <p class="subrayar">II.- Tasa de interés moratoria.</p>
            <p class="justificacion">
              La tasa de interés moratoria es fija y está expresada en términos porcentuales y <b
                class="subrayar">ANUALES</b> con relación al
              <b>CRÉDITO</b> contratado mediante el presente <b>CONTRATO.</b> <b class="subrayar">EL MONTO DE LA TASA DE
                INTERÉS MORATORIA
                ES DEL [VALOR DE LA TASA MORATORIA]%.</b> <b>EL BANCO</b> cobrará intereses moratorios del
              <b>CRÉDITO</b>, en
              caso de retraso en los pagos que deban realizarse de conformidad con el presente CONTRATO.
            </p>
            <br>
            <p class="subrayar">II.1.- Metodología para el cálculo de intereses moratorios.</p>
            <p class="justificacion">
              <b>EL BANCO</b> cobrará al <b>CLIENTE,</b> en caso de retraso en los pagos que deban realizarse de
              conformidad con el
              presente <b>CONTRATO,</b> la tasa de interés moratoria señalada en la <b>CARÁTULA</b> sobre el pago
              vencido, más
              I.V.A.; cantidad que deberá ser pagada en el momento en que el <b>CLIENTE</b> incurra en mora y la cual se
              deberá
              cubrir junto con los pagos vencidos no cubiertos.
            </p>
            <br>
            <p class="subrayar">SEXTA.- PAGOS.</p>
            <p class="subrayar">a).- Programa de pagos, pagos anticipados y pagos adelantados.</p>
            <p class="justificacion">
              El <b>CLIENTE</b> se obliga a restituir a <b>EL BANCO</b> el monto del <b>CRÉDITO</b> dispuesto dentro del
              plazo señalado en
              el presente <b>CONTRATO</b> y en la <b>CARÁTULA,</b> con la periodicidad y en las fechas límites de pago
              señaladas en
              la <b>TABLA DE AMORTIZACIÓN,</b> para no generar intereses moratorios.
              <br>
              Cada uno de los pagos deberán realizarse por las cantidades y con la periodicidad que se establece en la
              <b>TABLA DE AMORTIZACIÓN,</b> con independencia de los abonos a capital que de manera voluntaria realice
              el CLIENTE.
              <br>
              El <b>CLIENTE</b> efectuará los pagos sin necesidad de requerimiento previo: (i) mediante SPEI, o (ii) a
              través de los
              medios que <b>EL BANCO</b> de a conocer a través de su página de internet.
              <br>
              <br>
              <b>Pagos Anticipados:</b>
              <br>
              A partir de la primera fecha de pago establecida en la <b>TABLA DE AMORTIZACIÓN, el CLIENTE</b> podrá
              solicitar
              realizar pagos anticipados, los cuales serán aplicados al saldo insoluto del capital, siempre y cuando el
              <b>CLIENTE</b>
              se encuentre al corriente de todas y cada una de las obligaciones señaladas en el presente
              <b>CONTRATO.</b> Para tal efecto EL BANCO informará al CLIENTE el saldo insoluto del CRÉDITO antes de que
              se lleve a cabo el
              pago anticipado. El CLIENTE podrá realizar pagos anticipados conforme a la presente cláusula sin pagar
              penalización alguna.
              <br>
              Cuando el importe de los pagos anticipados no fuere suficiente para amortizar el saldo insoluto en su
              totalidad,
              se disminuirá el número de pagos a realizar, siempre y cuando se alcance a cubrir el cien por ciento de
              cada
              amortización. Una vez aplicado el pago anticipado, <b>EL BANCO</b> calculará el importe de intereses por
              devengar,
              con base en el nuevo Saldo Insoluto, emitiendo en favor del <b>CLIENTE</b> el comprobante de pago
              respectivo y una
              nueva <b>TABLA DE AMORTIZACIÓN</b> al momento de recibirse el pago anticipado.
              <br>
              Si el <b>CLIENTE</b>decide cubrir la totalidad de su adeudo, se le cobrará el saldo insoluto de capital a
              la fecha más
              los intereses ordinarios y el Impuesto al Valor Agregado sobre los mismos devengados a la fecha, lo
              anterior en
              el entendido de que el presente CONTRATO continuará en pleno vigor y efecto hasta que todas las
              obligaciones
              a cargo del <b>CLIENTE</b> hayan sido satisfechas y pagadas en su totalidad.
              <br>
              <br>
              <b>Pagos Adelantados:</b>
              <br>
              A partir de la primer fecha de pago establecida en la <b>TABLA DE AMORTIZACIÓN, EL BANCO</b> recibirá
              pagos
              adelantados para cubrir las amortizaciones periódicas inmediatas siguientes del <b>CRÉDITO,</b> siempre y
              cuando
              <b>EL BANCO</b>obtenga del <b>CLIENTE</b> una solicitud por escrito con firma autógrafa que contenga la
              leyenda <b class="cursiva">“El
                usuario autoriza que los recursos que se entregan en exceso a sus obligaciones exigibles, no se apliquen
                para
                el pagos anticipados del principal, sino que se utilicen para cubrir por adelantado los pagos periódicos
                del
                <b>CRÉDITO</b> inmediatos siguientes”.</b>
              <br>
              Los pagos adelantados que <b>EL BANCO</b> reciba del <b>CLIENTE,</b> no afectará el orden de pagos del
              inciso d) de la
              cláusula sexta. Cuando el <b>CLIENTE</b> expresamente lo solicite a <b>EL BANCO</b>, podrá realizar pagos
              adelantados
              que se aplicarán a cubrir los pagos inmediatos siguientes.
              <br>
              Al realizar cualquier pago, <b>EL BANCO</b> entregará al <b>CLIENTE</b> el comprobante respectivo, mismo
              que deberá
              mostrar el saldo de capital después de haber realizado el pago respectivo.
              <br>
              <br>
              <b>b).-</b><b class="subrayar">Obligaciones de pago.</b>
              <br>
              <b>El CLIENTE</b>se obliga, sin necesidad de previo requerimiento, a pagar a <b>EL BANCO</b>, a través de
              <b>SPEI o los
                canales que el Banco indique para tales efectos y sean informados al CLIENTE:</b> (i) el importe
              dispuesto
              del crédito; (ii) el importe de los intereses ordinarios, (ii) el importe de los intereses moratorios;
              (iii) los cargos
              que procedan por concepto de impuestos que sean a cargo del <b>CLIENTE</b> y deriven del presente
              <b>CONTRATO</b> conforme a las leyes aplicables.
              <br>
              <br>
              <b>c).-</b><b class="subrayar">Días y horario de pago.</b>
              <br>
              Todos los pagos que por cualquier concepto el <b>CLIENTE </b>deba hacer a favor de <b>EL BANCO</b> de
              conformidad
              con el presente <b>CONTRATO,</b> los hará libres y sin deducción o retención por cualquier concepto. En
              caso de
              que el <b>CLIENTE</b> decida efectuar sus pagos en las sucursales de <b>EL BANCO,</b> los mismos se
              deberán hacer en
              los horarios que tiene designados para el funcionamiento de sus sucursales; así como en caso de optar por
              otro
              canal de pago, el <b>CLIENTE</b> deberá ajustarse a los horarios de atención de cada establecimiento o
              canal.
              <br>
              Cuando la fecha límite de pago sea en un día inhábil, ésta se recorrerá al día hábil siguiente, sin que
              proceda
              el cobro del pago de intereses moratorios. Para los efectos de esta cláusula, un día hábil significa aquél
              día en
              el que los bancos de los Estados Unidos Mexicanos (Instituciones de Crédito) se encuentren abiertos al
              público
              en general para la realización de operaciones bancarias normales, así como los días en que <b>EL BANCO</b>
              está autorizada para realizar operaciones con el público en general.
              <br>
              <br>
              <b>d).-</b><b class="subrayar">Orden de Pagos.</b>
              <br>
              Todas las cantidades que de parte del <b>CLIENTE</b> reciba en pago <b>EL BANCO,</b> se aplicarán conforme
              al siguiente
              orden: i) Impuesto al Valor Agregado sobre intereses moratorios, si se causan; ii) Intereses moratorios,
              si se
              causan; iii) Impuesto al Valor Agregado sobre intereses ordinarios, si se causa; iv) Intereses ordinarios;
              v)Capital vencido, vi) Capital vigente.
              <br>
              <br>
              <b>e).-</b><b class="subrayar">Fecha de Acreditamiento de Pago.</b>
              <br>
              Los pagos que lleve a cabo el <b>CLIENTE</b> se aplicarán y acreditarán el mismo día que los haya
              efectuado.
              <br>
              <br>
              <b>f).-</b><b class="subrayar">Pagos de impuestos por parte del CLIENTE.</b>
              <br>
              El <b>CLIENTE</b> conviene en pagar la totalidad de los impuestos en vigor que le sean inherentes a él,
              así como en
              los que en el futuro pudieran establecerse por cualquier autoridad, respecto a la ejecución y cumplimiento
              del
              presente <b>CONTRATO,</b> por lo que desde ahora se conviene en que <b>EL BANCO </b>no deberá efectuar
              erogación
              alguna por ningún concepto. Si por cualquier causa <b>EL BANCO</b> pagara alguna cantidad derivada de lo
              estipulado en la presente cláusula, el <b>CLIENTE</b> deberá reintegrársela en cuanto se lo solicite <b>EL
                BANCO</b>. En
              el caso de que los mencionados impuestos sufran algún aumento en sus respectivos importes, el CLIENTE se
              obliga a depositar de inmediato ante <b>EL BANCO</b> la diferencia respectiva.
              <br>
              <br>
              <b class="subrayar">SÉPTIMA.- MODIFICACIÓN AL CONTRATO.</b>
              <br>
              El <b>CLIENTE</b> otorga su consentimiento para que <b>EL BANCO</b> pueda modificar el presente
              <b>CONTRATO,</b> así como
              cualquiera de sus anexos, para lo cual deberá notificar al <b>CLIENTE</b> las modificaciones que se
              pretendan llevar
              a cabo con 30 (treinta) días naturales de anticipación a la entrada en vigor de dichas modificaciones, lo
              cual lo
              hará saber en el estado de cuenta, indicando la fecha en la que entrarán en vigor dichas modificaciones.
              Asimismo, <b>EL BANCO</b> no podrá modificar las tasas de interés, salvo en caso de que se reestructure el
              <b>CRÉDITO</b> y con el previo consentimiento del CLIENTE.
              <br>
              En caso de que el <b>CLIENTE</b> no esté de acuerdo con las modificaciones notificadas por EL BANCO, podrá
              solicitar la terminación del presente <b>CONTRATO,</b> en un plazo que no podrá exceder de 30 (treinta)
              días
              naturales posteriores a la notificación señalada en el párrafo anterior, sin que por ello incurra en
              alguna
              responsabilidad, se genere alguna penalización a su cargo, y bajo las condiciones originalmente pactadas,
              debiendo en todo caso el <b>CLIENTE</b> cubrir el saldo total del <b>CRÉDITO </b>a la fecha en la que se
              haya presentado la solicitud de terminación.
              <br>
              Una vez transcurrido el plazo señalado en el párrafo inmediato anterior, sin que <b>EL BANCO</b> haya
              recibido
              comunicación alguna por parte del <b>CLIENTE,</b> se tendrán por aceptadas las modificaciones del
              <b>CONTRATO.</b>
              <br>
              <br></p>
            <p class="subrayar">OCTAVA.- CAUSAS DE TERMINACIÓN ANTICIPADA</p>
            <p class="justificacion">
              <b>a).- EL BANCO</b> podrá dar por terminado anticipadamente el plazo para el pago del <b>CRÉDITO,</b>
              mediante aviso previo al <b>CLIENTE:</b></p>
            <ol class="roman">
              <li>
                Si el <b>CLIENTE</b> emplea el importe del <b>CRÉDITO</b> o parte del mismo en fines distintos a los
                estipulados en
                el presente <b>CONTRATO </b>o no proporciona a <b>EL BANCO,</b> cuando éste se lo solicite, la
                información o
                documentos relacionados con el destino del <b>CRÉDITO.</b></li>
              <li>En caso de que el <b>CLIENTE</b> no efectué tres de los pagos continuos, en los términos y condiciones
                previstas en el presente <b>CONTRATO</b> y/o en la <b>TABLA DE AMORTIZACIÓN.</b></li>
              <li>Si el <b>CLIENTE </b>cambia de domicilio o de empleo y no da aviso a <b>EL BANCO</b> dentro de los 30
                (treinta)
                días naturales siguientes a la fecha en que se dé cualquiera de estos dos eventos.</li>
              <li>Si cualquier dato proporcionado a <b>EL BANCO</b> por el <b>CLIENTE</b> es falso.</li>
              <li>Si el <b>CLIENTE</b> incurre en mora o en incumplimiento de las obligaciones contraídas respecto de
                cualquier
                otro crédito otorgado por <b>EL BANCO.</b></li>
              <li>Por muerte del <b>CLIENTE.</b></li>
              <li>En cualquier otro caso que conforme a la ley se puedan dar por vencidas anticipadamente las
                obligaciones
                a plazo.</li>
            </ol>
            <p class="justificacion">
              Si el <b>CONTRATO</b> se da por terminado por alguna de las causas señaladas en los incisos anteriores,
              <b>EL BANCO</b>
              tendrá el derecho de exigir el pago inmediato del saldo insoluto del <b>CRÉDITO.</b>
              <br><br>
              <b>b).- El CLIENTE </b> podrá solicitar, en todo momento, la terminación anticipada del presente
              <b>CONTRATO,</b>
              debiendo cubrir el monto total del adeudo, bastando para ello la presentación de una solicitud formal con
              firma
              electrónica y enviada al correo electrónico que el BANCO determine para tal efecto.<b>EL BANCO,</b>
              proporcionará a el <b>CLIENTE</b> acuse de recibo de solicitud y clave de confirmación o número de folio,
              cerciorándose <b>EL BANCO</b>
              de la autenticidad y veracidad del <b>CLIENTE</b> que formule la solicitud de terminación respectiva,
              confirmando sus
              datos.
              <br><br>
              En caso de que el <b>CLIENTE</b> solicite la terminación anticipada del <b>CONTRATO</b> y no tenga adeudos
              pendientes
              a dicha fecha, <b>EL BANCO</b> dará por terminado el presente <b>CONTRATO</b> el día hábil siguiente a la
              fecha en que
              haya recibido la solicitud de terminación. En caso de que existan adeudos pendientes al momento de recibir
              la
              solicitud de terminación anticipada, EL BANCO, a más tardar el día hábil siguiente al de la recepción de
              la
              solicitud, comunicará al <b>CLIENTE</b> el importe de los adeudos y pondrá a su disposición dicho dato
              dentro de los
              05 (cinco) días hábiles siguientes a la fecha de recepción de la solicitud correspondiente, una vez
              liquidados los
              adeudos se dará por terminado el <b>CONTRATO. EL BANCO</b> procederá a entregar a favor del <b>CLIENTE</b>
              el
              excedente de los importes pagados. En caso de resultar procedente dicha entrega, el reintegro se llevará a
              cabo a la misma cuenta a la que se depositó el crédito durante la disposición, de acuerdo a las siguientes
              reglas:
              <br><br>
              (i). Cuando se realice la liquidación del <b>CRÉDITO</b> por el propio<b>CLIENTE,</b> se entregará el
              excedente al
              <b>CLIENTE</b> en la misma fecha que realizó el pago.
              <br>
              (ii). Cuando el pago no lo realice directamente el <b>CLIENTE, EL BANCO</b> comunicará al <b>CLIENTE</b>
              dentro de
              los 30 (treinta) días naturales siguientes al día hábil en que <b>EL BANCO</b> recibió el pago total del
              <b>CRÉDITO,</b>
              que se encuentra a su disposición el excedente del importe pagado.
              <br><br>
              Una vez realizada la entrega mencionada, el <b>CLIENTE</b> emitirá un acuse de recibo, mismo que se
              considerará
              como la recepción, a su entera satisfacción de los importes pagados en exceso.
              <br><br>
              <b>EL BANCO</b> pondrá a disposición del <b>CLIENTE</b>, dentro de 10 (diez) días hábiles a partir de que
              se hubiera
              realizado el pago de los adeudos, el estado de cuenta en el que conste el fin de la relación contractual y
              la
              inexistencia de adeudos derivados exclusivamente del presente <b>CONTRATO</b>. Asimismo, <b>EL BANCO</b>
              informará
              a la Sociedad de Información Crediticia (SIC) que la cuenta del <b>CLIENTE</b> está cerrada sin adeudo
              alguno, en
              términos de lo establecido en el artículo 20, párrafo cuarto, de la Ley para Regular las Sociedades de
              Información Crediticia.
              <br><br>
              En tanto no sea liquidada la totalidad de los adeudos, la terminación del presente <b>CONTRATO</b> no
              surtirá efectos;
              sin embargo, <b>EL BANCO</b> no podrá efectuar cargos adicionales, con excepción de los intereses
              moratorios que
              correspondan, en su caso, así como los impuestos e intereses que se generen hasta el momento en que el
              <b>CLIENTE</b> liquide el saldo total del <b>CRÉDITO</b>. El <b>CLIENTE</b> conservará la misma fecha de
              pago y condiciones
              que tenía previamente a la solicitud de terminación.
              <br><br>
              c).- El <b>CLIENTE</b> contará con un periodo de 10 (diez) días hábiles posteriores a la celebración del
              <b>CONTRATO,</b>
              para darlo por terminado, siempre y cuando el CLIENTE no haya dispuesto, operado o utilizado el
              <b>CRÉDITO</b>
              contratado, <b>EL BANCO</b>in que se genere ninguna responsabilidad o costo adicional para el
              <b>CLIENTE</b>.
              <br><br></p>
            <p class="subrayar">NOVENA.- RESCISIÓN.</p>
            <p class="justificacion">
              Las partes acuerdan que el incumplimiento por parte del <b>CLIENTE</b> a sus obligaciones señaladas en el
              presente
              <b>CONTRATO,</b> en especial la de pago, dará derecho a <b>EL BANCO</b> para proceder a su inmediata
              rescisión,
              independientemente de que pueda exigirle el pago de los daños y perjuicios que le causen; para lo cual
              bastará
              que <b>EL BANCO</b> de aviso por escrito al <b>CLIENTE</b> con 30 (treinta) días naturales de anticipación
              a la fecha
              efectiva en que la rescisión surta sus efectos, sin más trámite que el aviso descrito y sin necesidad de
              declaración judicial.
              <br><br>
              <b>EL BANCO</b> podrá rescindir el presente <b>CONTRATO</b> en los términos señalados anteriormente o,
              cuando
              concurran cualesquiera de los siguientes supuestos de manera conjunta o separada:
              <br><br>
              a).- Si el <b>CLIENTE</b> incumple cualesquiera de sus obligaciones previstas o derivadas del presente
              <b>CONTRATO</b>,
              incluyendo sus anexos; en especial, su obligación de pago.
              <br>
              b).- Si el <b>CLIENTE</b> destina el importe del <b>CRÉDITO</b> a un fin diferente al pactado en el
              presente <b>CONTRATO</b>.
              <br>
              c).- En caso de que el <b>CLIENTE</b> incumpliere con cualquiera de las obligaciones que a su cargo se
              derivasen de cualesquier otro contrato que tuviere celebrado con <b>EL BANCO</b>.
              <br><br>
              Una vez que surta efectos la rescisión del <b>CONTRATO</b>, el <b>CLIENTE</b>, sin necesidad de
              declaración judicial o
              extrajudicial alguna, deberá cubrir de inmediato a <b>EL BANCO</b> el saldo del <b>CRÉDITO</b> que
              estuviere pendiente
              de pago a dicha fecha más los intereses ordinarios correspondientes y los intereses moratorios que
              resulten
              aplicables a favor de <b>EL BANCO</b>.
              <br><br>
              <b class="subrayar">DÉCIMA.- ESTADOS DE CUENTA.</b>
              <br>
              El <b>CLIENTE</b> instruye expresamente a <b>EL BANCO</b> para que éste expida el estado de cuenta del
              presente
              <b>CONTRATO</b> a través del medio que el <b>CLIENTE</b> designe como canal de envío en la <b>CARÁTULA:
                (i)</b> a domicilio,
              (ii) consulta digital; teniendo la oportunidad de cambiar esta instrucción en el momento que el
              <b>CLIENTE</b> lo
              considere necesario y <b>EL BANCO</b> estará obligado a hacerlo en los términos que describe la presente
              cláusula.
              <br><br>
              En el estado de cuenta se indicarán, entre otros aspectos: las cantidades cargadas y abonadas, el saldo
              insoluto
              del <b>CRÉDITO</b>, las fechas de corte, los datos necesarios para realizar el cálculo de los intereses a
              pagar, así
              como cualquier otro movimiento, que se lleve a cabo.
              <br><br>
              El <b>CLIENTE</b> podrá objetar el estado de cuenta, dentro de los 90 (noventa) días naturales contados a
              partir de
              que el estado de cuenta quedó a su disposición, una vez que lo requirió en una ventanilla de la sucursal.
              <br><br>
              El estado de cuenta certificado por el contador público autorizado para tal efecto por <b>EL BANCO</b>
              hará fe, salvo
              prueba en contrario, en el juicio respectivo para la fijación del saldo resultante a cargo del deudor, en
              términos
              del artículo 68 de la Ley de Instituciones de Crédito.
              <br>
              En el supuesto que el <b>CLIENTE</b> no confirme la recepción del estado de cuenta, no quedará por este
              hecho
              eximido de efectuar el pago del monto del <b>CRÉDITO</b>, los intereses ordinarios correspondientes, y los
              intereses
              moratorios que se causen.
              <br><br>
              <b class="subrayar">DÉCIMA PRIMERA.- SOLICITUDES, CONSULTAS, ACLARACIONES, INCONFORMIDADES Y QUEJAS.</b>
              <br>
              a).- <b class="subrayar">Servicio de atención al público en consultas y aclaraciones.</b>
              El <b>CLIENTE</b> podrá consultar saldos, transacciones, movimientos, así como presentar cualquier
              solicitud de
              aclaración, inconformidad y queja relacionadas con el presente <b>CONTRATO</b> por escrito en: (i) la
              sucursal de
              <b>EL BANCO</b>; o (ii) en la Unidad Especializada de Atención a Clientes, cuyos datos se señalan en el
              inciso b)
              siguiente. <b>EL BANCO</b> está obligada a acusar recibo de dicha solicitud, con la hora y la fecha de
              recepción de
              la misma, obligándose el <b>CLIENTE</b> a presentar su identificación oficial, así como el número de
              cuenta que le
              fue generado.
              <br><br>
              En términos del artículo 23 de la Ley para la Transparencia y Ordenamiento de los Servicios Financieros,
              si el
              <b>CLIENTE</b> no está de acuerdo con alguno de los movimientos que aparezcan en su estado de cuenta,
              podrá
              presentar una solicitud de aclaración dentro del plazo de 90 (noventa) días naturales contados a partir de
              la
              fecha de corte o, en su caso, de la realización de la operación.
              <br><br>
              El <b>CLIENTE</b> tendrá derecho de no realizar el pago cuya aclaración solicita, así como el de cualquier
              otra
              cantidad relacionada con dicho pago, hasta en tanto se resuelva la aclaración conforme al procedimiento a
              que
              se señala a continuación:
              <br><br>
              Una vez que <b>EL BANCO</b> reciba la solicitud de aclaración, tendrá un plazo máximo de 45 (cuarenta y
              cinco) días
              naturales contados a partir de la recepción de la solicitud, para entregar al <b>CLIENTE</b> el dictamen
              correspondiente suscrito por personal facultado por <b>EL BANCO</b>para su realización así como un informe
              detallado en el que se respondan todos los hechos contenidos en la solicitud presentada por el
              <b>CLIENTE</b>.
              <br><br>
              <b>EL BANCO</b> formulará el dictamen e informe antes referidos por escrito. En el evento de que, conforme
              al
              dictamen que emita <b>EL BANCO</b>, resulte procedente el cobro del monto respectivo, el <b>CLIENTE</b>
              deberá hacer
              el pago de la cantidad a su cargo, incluyendo los intereses ordinarios conforme a lo pactado, sin que
              proceda
              el cobro de intereses moratorios generados por la suspensión del pago realizada conforme al presente
              procedimiento.
              <br><br>
              Dentro del plazo de 45 (cuarenta y cinco) días naturales contados a partir de la entrega del dictamen,
              <b>EL BANCO</b>
              estará obligado a poner a disposición del <b>CLIENTE</b>, el expediente generado con motivo de la
              solicitud de
              aclaración en la que se incorpore la documentación e información que se relaciona directamente con la
              solicitud
              correspondiente.
              <br><br>
              Lo anterior sin perjuicio del derecho del <b>CLIENTE</b> de acudir ante la CONDUSEF o ante la autoridad
              jurisdiccional
              correspondiente conforme a las disposiciones legales aplicables.
              <br>
              <br>
              <b>b).- </b><b class="subrayar">Unidad Especializada.</b>
              <br>
              <b>EL BANCO</b> cuenta con una Unidad Especializada, la cual se localiza en: Avenida Río Magdalena 115,
              Col.
              Tizapán San Ángel, C.P. 01090, Alcaldía Álvaro Obregón, en la Ciudad de México, Teléfono (01 55) 54813300,
              Página de Internet www.bancodelbienestar.gob.mx, Correo Electrónico de Atención a Clientes:<a
                class="blue-text subrayar" target="_blank"
                href="ueau@bancodelbienestar.gob.mx.">ueau@bancodelbienestar.gob.mx.</a>
              <br>
              <br>
              <b>c).-</b><b class="subrayar">Atención CONDUSEF.</b>
              El <b>CLIENTE</b> podrá requerir atención de la CONDUSEF para lo cual se pone a disposición del
              <b>CLIENTE</b> la
              dirección de Internet de esta entidad: (<a>www.gob.mx/condusef</a>); así como su correo electrónico:
              asesoria@condusef.gob.mx y su teléfonos: 01 800 999 80 80 ó (55) 53 40 09 99.
              <br><br>
              <b>d).-</b><b class="subrayar">Consultas.</b>
              Las partes acuerdan que el presente <b>CONTRATO</b> se encuentra a disposición del <b>CLIENTE</b> en las
              oficinas,
              sucursales y en la en la página de la CONDUSEF con dirección <a>www.gob.mx/condusef.</a>
              <br>
              <br>
              <b class="subrayar">DÉCIMA SEGUNDA.- CESIÓN Y TRASPASO DE LOS DERECHOS DEL PRESENTE</b> <b>CONTRATO</b>.
              <b>EL BANCO</b> queda expresamente autorizado por el <b>CLIENTE</b> a ceder, traspasar o dar en garantía
              todos o parte
              de los derechos que a su favor se derivan del presente <b>CONTRATO</b> y del o los pagarés suscritos por
              el
              <b>CLIENTE</b>, aún antes de su respectivo vencimiento.
              <br>
              <br>
              Las partes convienen en que el <b>CLIENTE</b> no podrá ceder o transmitir en cualquier forma, los derechos
              y
              obligaciones que respectivamente se generen a su favor y a su cargo del presente <b>CONTRATO</b>.
              <br>
              <br>
              Si el <b>CLIENTE</b> violare en cualquier forma las prohibiciones a que se refiere el párrafo anterior,
              será causa de
              rescisión del presente <b>CONTRATO</b> y además quedará obligado a cubrir a <b>EL BANCO</b>, los daños y
              perjuicios
              que le cause.
              <br><br>
              <b class="subrayar">DÉCIMA TERCERA.- AVISOS Y NOTIFICACIONES.</b>
              Salvo que alguna cláusula del presente <b>CONTRATO</b> señale un procedimiento específico para hacer los
              avisos
              y/o notificaciones; todos los demás avisos y notificaciones que deban hacerse las partes, se entenderán
              hechas
              cuando los mismos se realicen mediante medios electrónicos o por escrito en sus respectivos domicilios
              referidos en el presente <b>CONTRATO</b> o en cualquier otro domicilio notificado a la otra parte en los
              términos de
              esta cláusula.
              <br><br>
              <b class="subrayar">DÉCIMA CUARTA. MEDIOS ELECTRÓNICOS.</b>- En términos de lo señalado por los artículos
              1803, 1811, 1833,
              1834 y 1834 Bis del Código Civil Federal, por los artículos 89 a 99 del Código de Comercio y por el
              artículo 7
              de las Disposiciones de carácter general en materia de transparencia aplicables a las Instituciones de
              Crédito y
              sociedades financieras de objeto múltiple, entidades reguladas (las “Disposiciones”), las Partes están de
              acuerdo que el presente Contrato y sus Anexos se formalicen y se conserven a través de medios
              electrónicos.
              Estando ambas Partes presentes, las mismas manifiestan su consentimiento de la manera siguiente: 1.- <b>EL
                BANCO</b>, formaliza el presente Contrato y sus anexos, a través del certificado digital avalado por la
              Secretaría
              de Economía, el cual consta en el apartado de firmas del presente Contrato y el <b>CLIENTE</b> manifiesta
              su
              consentimiento expreso a través de su firma autógrafa digital, en los apartados de firmas del presente
              <b>CONTRATO</b> y de sus Anexos. Para efectos de lo señalado por el artículo 7 de las Disposiciones, las
              Partes
              acuerdan que una vez formalizado el presente Contrato y sus Anexos, una copia quedará en poder de <b>EL
                BANCO</b> y otra copia se entregará al <b>CLIENTE</b> mediante el envío de la misma al correo
              electrónico que el
              Acreditado le señale por escrito a <b>EL BANCO</b> en el Anexo 1. Asimismo, el modelo del presente
              Contrato y de
              sus Anexos podrá ser consultado por el <b>CLIENTE</b> en la página de internet de <b>EL BANCO</b>, así
              como en la página
              de internet de la CONDUSEF, dentro del apartado denominado “Registro de Contratos de Adhesión” (RECA)
              http://e-portalif.condusef.gob.mx/reca/_index.php.
              <br><br>
              <b class="subrayar">DÉCIMA QUINTA.- CASO FORTUITO O FUERZA MAYOR.</b>
              <br>
              El <b>CLIENTE</b> se obliga al cumplimiento del presente <b>CONTRATO</b> aún en caso fortuito o de fuerza
              mayor en
              términos del artículo 2111 del Código Civil Federal.
              <br><br>
              <b class="subrayar">DÉCIMA SEXTA.- PROTECCIÓN DE DATOS PERSONALES.</b>
              <br>
              <b>EL BANCO</b>, previamente a la celebración del presente Contrato, solicitó datos personales del
              <b>CLIENTE</b> con la
              finalidad de: (i) identificarlos, consultar y verificar la información proporcionada, (ii) poder celebrar
              el presente
              Contrato, (iii) realizar requerimientos de pago, (iv) ceder o enajenar los derechos que a su favor se
              deriven del
              presente Contrato, y (v) contactarlos con la finalidad de mantener actualizados sus datos personales,
              mientras
              se encuentre vigente la relación jurídica y dentro de los 10 (diez) años posteriores que termine la
              relación
              jurídica.
              <br><br>
              <b>EL BANCO</b> protegerá y mantendrá los datos personales del <b>CLIENTE</b> por el tiempo razonablemente
              necesario,
              tomando en cuenta las disposiciones legales aplicables y sólo compartirá y/o transferirá dicha información
              con
              otra(s) entidad(es): (i) cuando el <b>CLIENTE</b> contraten otro producto y/o servicio a través de <b>EL
                BANCO</b>; (ii)
              cuando <b>EL BANCO</b> ceda y/o enajene la cartera de Créditos; (iii) para hacer requerimientos de pago a
              través de
              despachos de cobranza; (iv) para la prestación de servicios; (v) cuando <b>EL BANCO</b> otorgue en
              garantía los
              derechos que a su favor se deriven en el presente Contrato; (vi) para consulta y verificación de los datos
              e
              información otorgada por el <b>CLIENTE</b>, y (vii) cuando así se requiera por disposición legal o por
              orden de
              autoridad competente debidamente fundada y motivada.
              <br><br>
              El <b>CLIENTE</b> podrá ejercer en todo momento ante <b>EL BANCO</b>, sus derechos de acceso,
              rectificación,
              cancelación, oposición, revocación, limitación en el uso y/o divulgación (“derechos ARCO”) en el
              tratamiento de
              sus datos personales, en caso de que legalmente sea procedente, conforme a los lineamientos y requisitos
              que
              marca la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y demás
              disposiciones
              aplicables, presentándose en la sucursal donde se otorgó el <b>CRÉDITO</b>.
              <br><br>
              El <b>CLIENTE</b> hace constar que con anterioridad a la celebración del presente Contrato, <b>EL
                BANCO</b> puso a su
              disposición un Aviso de Privacidad, donde se le informó, entre otras cosas, sobre: (i) la identidad y
              domicilio de
              <b>EL BANCO</b>; (ii) los datos personales que serán sometidos a tratamiento; (iii) las finalidades del
              tratamiento; (iv)
              los mecanismos para que el <b>CLIENTE</b> pueda manifestar su negativa para el tratamiento de sus datos
              personales
              para aquellas finalidades que no son necesarias, ni hayan dado origen a la relación jurídica con <b>EL
                BANCO</b>; (v)
              las transferencias de datos personales que, en su caso, se efectúen a un tercero receptor de los datos
              personales, y las finalidades de las mismas; (vi) la cláusula que indique si el <b>CLIENTE</b> acepta o no
              la
              transferencia, cuando así se requiera; (vii) los medios y el procedimiento para ejercer los derechos ARCO,
              de
              revocación, limitación en el uso y/o divulgación; (viii) los mecanismos y procedimientos para que, en su
              caso, el
              <b>CLIENTE</b> pueda revocar su consentimiento al tratamiento de sus datos personales; (ix) las opciones y
              medios
              que <b>EL BANCO</b> ofrece al <b>CLIENTE</b> para limitar el uso o divulgación de los datos personales, y
              (x) los
              procedimientos y medios a través de los cuales <b>EL BANCO</b> comunicará al <b>CLIENTE</b> los cambios al
              Aviso de
              Privacidad.
              <br><br>
              Por último señala <b>EL BANCO</b>que el Aviso de Privacidad puede ser consultado a través de su sitio en
              internet:
              <a class="blue-text subrayar" target="_blank"
                href="www.bancodelbienestar.com.mx,">www.bancodelbienestar.com.mx,</a>y de igual forma cualquier cambio
              y/o modificación total o parcial al Aviso de
              Privacidad se dará a conocer por medio de la mencionada página web y/o directamente en las sucursales de
              <b>EL BANCO</b>.
              <br><br>
              <b class="subrayar">DÉCIMA SÉPTIMA.- DOMICILIOS.</b>
              Para todos los efectos del presente <b>CONTRATO</b>, <b>EL BANCO</b> señala como su domicilio el señalado
              en la
              declaración I, inciso d) del presente <b>CONTRATO</b> y el <b>CLIENTE</b>señala como su domicilio el
              previsto en la
              <br><br>
              <b>SOLICITUD DE CRÉDITO</b>.
              <br><br>
              El <b>CLIENTE</b> deberá informar por escrito a <b>EL BANCO</b> del cambio de su domicilio, con cuando
              menos 10 (diez)
              días hábiles de anticipación. En caso de no hacerlo, todos los avisos, notificaciones y demás diligencias
              extrajudiciales o judiciales que se lleven a cabo en los domicilios indicados, se entenderán plenamente
              válidos
              y surtirán todos los efectos legales a que hubiere lugar.
              <br>
              <br>
              <b class="subrayar">DÉCIMA OCTAVA.- JURISDICCIÓN Y COMPETENCIA.</b>
              <br>
              Para todo lo que se refiere a la interpretación y cumplimiento del presente <b>CONTRATO</b>, las partes
              manifiestan
              su conformidad y su consentimiento de someterse a la jurisdicción y competencia de los tribunales
              competentes
              en la Ciudad de México, así como a las leyes vigentes y aplicables en dicho lugar, renunciando a cualquier
              otro
              fuero que por razón de sus domicilios presentes o futuros o por cualquier otra causa pudiera
              corresponderles.
              <br>
              El <b>CLIENTE</b> manifiesta que <b>EL BANCO</b> le dio a conocer el contenido del <b>CONTRATO</b> y sus
              Anexos, y que una
              copia de los mismos le fue entregado por <b>EL BANCO</b> al momento de su formalización a través de su
              correo
              electrónico en términos de la cláusula décima cuarta.
              <br>
              Enteradas las partes del alcance legal de todas y cada una de las obligaciones previstas y derivadas del
              presente
              <b>CONTRATO</b>, es su voluntad firmarlo en la fecha señalada en la <b>CARÁTULA.</b>
              <br>
              <br>
              <p class="center">Ciudad de México, a <b>{{date}}</b></p><br><br>
              <div class="row">
                
                <div class="col s12">
                  <p class="center"><b>EL CLIENTE</b></p>
                </div><br><br><br>
                <div class="col s12 center">
                  <b>{{ loanData.clientName }}</b>
                </div>

                <br><br>
                <div class="col s12">
                  <p class="center"><b>EL BANCO</b></p>
                </div><br><br><br>
               
                <div class="col s12">
                  <p class="center">(Firma del Representante legal)</p>
                </div>
                
              </div>
              <p class="letra justificacion"> <b>LAS PARTES</b> firman el presente Contrato con su firma electrónica
                avanzada vigente generada por el Servicio de Administración Tributaria
                (SAT) como autoridad certificadora en términos de los artículos 2, fracción XIII, 23 y 28 de la Ley de
                Firma Electrónica Avanzada, así como
                los artículos 89 a 99 del Código de Comercio, por lo que producirá los mismos efectos que las leyes
                otorgan a la firma autógrafa y, en
                consecuencia, tendrá el mismo valor probatorio.</p>

          <br><br><br>
        </div>
      </div>
    </div>
  </div>
