<div class="container">
<div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-content">
            <br><br>
          <p class="titulo">COMPROBANTE DE REGISTRO</p><br><br>
          <p>Institución Financiera</p>
          <p><b>Banco del Bienestar, Sociedad Nacional de Crédito, Institución de</b></p>
          <p><b>Banca de Desarrollo</b></p>
          <p>Responsable</p>
          <p><b>Salvador Aleman Sollano</b></p>
        <div class="row">
            <div class="col s4">
                <p>Operación</p>
            </div>
            <div class="col s4">
                <p>Producto</p>
            </div>
            <div class="col s4">
                <p>Subproducto</p>
            </div>
            <div class="col s4">
                <p><b>Activa</b></p>
            </div>
            <div class="col s4">
                <p><b>Crédito simple</b></p>
            </div>
        </div>
        <p>Nombre del producto</p>
        <p><b>Inicio de vigencia 20-07-2020</b></p><br>

        <div class="row">
            <div class="col s6">
                <p>Detalle de la información registrada</p>
            </div>
            <div class="col s6">
                <p>Fecha de emisión: 16-07-2020</p>
            </div>
            <br>
            <div class="col s4">
                <p>Tipo de documento</p>
            </div>
            <div class="col s4">
                <p>Páginas</p>
            </div>
            <div class="col s4">
                <p>Observaciones</p>
            </div>
            <div class="col s12"><hr></div>
            <div class="col s4">
                <p>Contrato</p>
                <p>Carátula</p>
                <p>Tabla de amortización</p>
                <p>Otro</p>
                <p>Amorticación para consulta en buro de crédito</p>
                <p>Otro</p>
                <p>Solicitud</p>
            </div>
            <div class="col s4">
                <p class="center">10</p>
                <p class="center">1</p>
                <p class="center">1</p>
                <p class="center">3</p>
                <p class="center">1</p>
                <p class="center">7</p>
                <p class="center">2</p>
            </div>
            <div class="col s4">
                <p>Contrato de Crédito</p>
                <p>Ninguna</p>
                <p>Ninguna</p>
                <p>Disposiciones Legales</p>
                <p>Ninguna</p>
                <p>Aviso de Privacidad</p>
                <p>Ninguna</p>
            </div>
        </div><br><br>
        <div class="container">
                <p class="grey-text">Con fundamento en el artículo 11 de la Ley para la Transparencia y Ordenamiento de los</p>
                <p class="grey-text">Servicios Financieros, referente al registro de los contratos de adhesión que utilicen las</p>
                <p class="grey-text">Entidades Financieras y las Sociedades Financieras de Objeto Múltiple No Reguladas,</p>
                <p class="grey-text">se expide el siguiente como constancia de que se concluyó dicho trámite.</p><br><br>
                <p class="grey-text titulo"><b>Número de Registro</b></p><br>
                <p class="grey-text tituloss">0298-439-033296/01-02385-0720</p>
            
                <div class="row">
                    <div class="col s2 offset-s9">
                        <p class="subrayar"><i class="medium material-icons">print</i>Imprimir</p>
                    </div>
                </div>

        </div>
                
          
        </div>
      </div>
    </div>
  </div>
</div>