<div class="">
  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-content">
          <div class="container">
            <div class="row">
              <table style="border: hidden">
                <tr>
                  <td> <img class="responsive-img logo-bdb" src="../../../assets/logo.png"></td>
                  <td style="border: hidden">
                    <p class="center"><b>BANCO DEL BIENESTAR, S.N.C.,I.B.D.
                        <br>SOLICITUD DE CONTRATACIÓN
                        <br>CRÉDITO DIRECTO PRODUCTIVO</b></p>
                  </td>
                </tr>
              </table>
              <p><b>Número de inscripción en el Registro de Contratos de adhesión: 0298-439-033296/01-02385-0720</b></p>
              <div style="overflow-x:auto;">
              <table>
                <tr>
                  <td class="justificacion" colspan="4">
                    <p class="center trr"><b>DATOS GENERALES DEL CLIENTE</b></p>
                  </td>
                </tr>
                <tr>
                  <td colspan="1">
                    <br><br><b>Apellido Paterno:</b> {{personalData.lastname}}
                  </td>
                  <td colspan="1">
                    <br><br><b>Apellido Materno:</b> {{personalData.surname}}
                  </td>
                  <td colspan="1">
                    <br><br><b>Nombre(s): </b> {{personalData.firstname}}
                  </td>
                  <td colspan="1">
                    <b>Fecha Nacimiento:</b> {{personalData.dateOfBirth[2] + "/" + personalData.dateOfBirth[1] + "/" + personalData.dateOfBirth[0]}}
                    <br>
                    <b>Entidad Federativa de Nacimiento:</b> {{personalData.birthplace.name}}
                    <br>
                    <b>País de Nacimiento:</b> México
                  </td>
                </tr>
                <tr>
                  <td colspan="2">Dirección: Calle/Número/Colonia</td>
                  <td colspan="1">Nacionalidad:</td>
                  <td colspan="1"><b>Género:</b> {{personalData.gender.name}}</td>
                </tr>
                <tr>
                  <td colspan="1"><b>Estado:</b>{{personalData.birthplace.name}}</td>
                  <td colspan="1"><b>Población:</b></td>
                  <td colspan="1"><b>Código Postal:</b></td>
                  <td colspan="1"><b>Teléfono móvil:</b>{{personalData.mobileNo}}</td>
                </tr>
                <tr>
                  <td colspan="1"><b>Tipo de identificación:</b></td>
                  <td colspan="1"><b>Número de identificación:</b></td>
                  <td colspan="2"><b>Correo electrónico:</b></td>
                </tr>
                <tr>
                  <td colspan="1">
                    <b>R.F.C. con homoclave:</b> {{personalData.rfc}}
                    <br><br>
                    <b>Firma Electrónica (FIEL):</b>
                  </td>
                  <td colspan="3"><br><b>CURP:</b><br> {{personalData.uniqueId}}</td>
                </tr>
                <tr>
                  <td colspan="4">
                    <p class="center trr"><b>INFORMACIÓN CRÉDITO</b></p>
                  </td>
                </tr>
                <tr>
                  <td colspan="1"><br><b>Número Cuenta:</b><br><br></td>
                  <td colspan="3">
                    <b>Banco:</b>
                    <br>
                    <b>Clabe:</b>
                    <br>
                    <b>Destino del crédito:</b>
                  </td>
                </tr>
                <tr>
                  <td colspan="4">
                    <p class="center trr"><b>AUTORIZACIONES</b></p>
                  </td>
                </tr>
                <tr>
                  <td class="justificacion" colspan="4">
                    <b class="subrayar">1. AUTORIZACIÓN EN TÉRMINOS DE LA LEY FEDERAL DE TRANSPARENCIA Y ACCESO A LA
                      INFORMACIÓN PÚBLICA: </b>
                    Por la presente expresamente autorizo a BANCO DEL BIENESTAR para que: (i) durante el tiempo que se
                    mantenga vigente nuestra relación jurídica, mis datos personales, incluyendo los datos de
                    identificación, de contacto del suscrito(a), puedan
                    ser tratados, comunicados, transferidos, manejados y difundidos para la asesoría, contratación,
                    colocación, comercialización y operación de servicios y productos financieros y seguros,
                    ofrecimiento de otros productos y servicios vinculados a los ofrecidos por BANCO DEL BIENESTAR con
                    sujetos obligados de la Ley Federal de Acceso a la Información. Por lo que en ningún
                    momento se entenderá violación a la protección de datos en términos de los citados ordenamientos
                    legales, reglamentos y las disposiciones aplicables.
                    <div class="center">
                      <p>
                        <label>
                          <input class="with-gap teal darken-4" type="radio" />
                          <span>SI</span>
                        </label>&nbsp;&nbsp;&nbsp;
                        <label>
                          <input class="with-gap teal darken-4" type="radio" />
                          <span>NO</span>
                        </label>
                      </p>
                    </div>
                </tr>
                <tr>
                  <td class="justificacion" colspan="4">
                    <b class="subrayar">2. AUTORIZACIÓN PARA USO DE LA INFORMACIÓN:</b> Autorizo a BANCO DEL BIENESTAR,
                    a utilizar para fines publicitarios, incluyendo la comercialización de otros productos o servicios,
                    la información contenida en esta Solicitud o en otros documentos que se deriven de la tramitación de
                    la misma o de cualquier relación que mantenga con BANCO DEL BIENESTAR, así como
                    a proporcionar dicha información y documentación a cualquier empresa con la que BANCO DEL BIENESTAR,
                    tenga alguna relación de negocios. La presente autorización podrá revocarse
                    mediante solicitud por escrito en cualquier Sucursal de BANCO DEL BIENESTAR
                    <div class="center">
                      <p>
                        <label>
                          <input class="with-gap teal darken-4" type="radio" />
                          <span>SI</span>
                        </label>&nbsp;&nbsp;&nbsp;
                        <label>
                          <input class="with-gap teal darken-4" type="radio" />
                          <span>NO</span>
                        </label>
                      </p>
                    </div>
                    <br>
                    <div class="container">
                      <div class="center">
                        <div class="col s12">
                          <hr>
                        </div>
                        <div class="col s12">
                          <b>NOMBRE Y FIRMA DEL CLIENTE</b>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="justificacion" colspan="4">
                    <b> ACEPTACIÓN:</b><br>
                    El CLIENTE está de acuerdo en contratar el Servicio de banca electrónica:
                    <label>
                      <input class="with-gap teal darken-4" type="radio" />
                      <span>SI</span>
                    </label>&nbsp;&nbsp;&nbsp;
                    <label>
                      <input class="with-gap teal darken-4" type="radio" />
                      <span>NO</span>
                    </label>
                  </td>
                </tr>
              </table>
              </div>
              <br>
              <p class="justificacion">
                Con su firma, el CLIENTE acepta los términos y condiciones del contrato de adhesión. El contrato y sus
                anexos se encontrarán a disposición del CLIENTE en las ventanillas de sucursales
                de BANCO DEL BIENESTAR Las comisiones por las operaciones realizadas por el CLIENTE podrán ser
                consultadas en la página de internet de BANCO DEL BIENESTAR
                (<a class="blue-text subrayar" target="_blank"
                  href="https://www.gob.mx/bancodelbienestar">https://www.gob.mx/bancodelbienestar</a>). Las
                características del contrato también se podrán consultar en <a class="blue-text subrayar"
                  target="_blank" href="https://www.gob.mx/bancodelbienestar">https://www.gob.mx/bancodelbienestar</a>
              </p>
              <br><br>
              <div class="container">
                <div class="row">
                  <div class="col s6">
                    <p class="center"><b>NOMBRE Y FIRMA DEL CLIENTE</b></p>
                  </div>
                  <div class="col s6">
                    <p class="center"><b>POR BANCO DEL BIENESTAR</b></p>
                  </div>
                  <br><br><br><br>
                  <div class="col s6">
                    <hr>
                  </div>
                  <div class="col s6">
                    <hr>
                  </div>
                </div>
              </div>
              <div style="overflow-x:auto;">
              <table>
                <tr>
                  <td colspan="4">
                    <p class="center trr"><b>INFORMACIÓN DE LA CUENTA ASOCIADA</b></p>
                  </td>
                </tr>
                <tr>
                  <td colspan="1"><br>Número Cuenta:</td>
                  <td colspan="3">
                    Banco:<br>
                    Clabe:<br>
                    Destino del crédito:<br>
                  </td>
                </tr>
                <tr>
                  <td colspan="4">
                    <p class="center trr"><b>DATOS GENERALES DEL CLIENTE PERSONA MORAL</b></p>
                  </td>
                </tr>
                <tr>
                  <td colspan="4">Denominación o Razón Social</td>
                </tr>
                <tr>
                  <td colspan="2">Nacionalidad</td>
                  <td colspan="2">Registro Federal de Contribuyentes</td>
                </tr>
                <tr>
                  <td colspan="4"> Calle, Número y Colonia</td>
                </tr>
                <tr>
                  <td rowspan=2>Estado</td>
                  <td rowspan=2>Población</td>
                  <td>Código Postal</td>
                  <td>Télefono(s)</td>
                </tr>
                <tr>
                  <td colspan="2">Correo electrónico</td>
                </tr>
                <tr>
                  <td colspan="2">Número de serie de la Firma Electrónica Avanzada</td>
                  <td colspan="2">Objeto social</td>
                </tr>
                <tr>
                  <td colspan="4">
                    <p class="center trr"><b>DATOS DEL INSTRUMENTO PUBLICO EN DONDE CONSTA LA CONSTITUCIÓN</b></p>
                  </td>
                </tr>
                <tr>
                  <td colspan="1">Número</td>
                  <td colspan="1">Fecha</td>
                  <td colspan="1">Fedatario Público</td>
                  <td colspan="1">Población</td>
                </tr>
                <tr>
                  <td colspan="4">
                    Nombre del Fedatario Público</td>
                </tr>
                <tr>
                  <td colspan="2">Inscripción en el Registro Público </td>
                  <td colspan="2">Fecha</td>
                </tr>
                <tr>
                  <td colspan="4">Observaciones sobre la naturaleza de la persona juridica:</td>
                </tr>
                <tr>
                  <td colspan="4">
                    <p class="center trr"><b>DATOS DEL REPRESENTANTE LEGAL</b></p>
                  </td>
                </tr>
                <tr>
                  <td colspan="4">Nombre, Apellido Paterno y Apellido Materno</td>
                </tr>
                <tr>
                  <td colspan="1">Tipo de identificación</td>
                  <td colspan="1">Número de identificación</td>
                  <td colspan="2"> Clave Única de Registro de Población (CURP)</td>
                </tr>
                <tr>
                  <td colspan="1">Documentos de facultades</td>
                  <td colspan="1">Otorgante</td>
                  <td colspan="2">En su caso, datos de inscripción</td>
                </tr>
                <tr>
                  <td colspan="4">
                    <p class="center trr"><b>DATOS DEL INSTRUMENTO PUBLICO EN DONDE CONSTAN LOS PODERES</b></p>
                  </td>
                </tr>
                <tr>
                  <td colspan="1">Número</td>
                  <td colspan="1">Fecha</td>
                  <td colspan="1">Fedatario Público</td>
                  <td colspan="1">Población</td>
                </tr>
                <tr>
                  <td colspan="4"> Nombre del Fedatario Público</td>
                </tr>
                <tr>
                  <td colspan="3"> Inscripción en el Registro Público</td>
                  <td colspan="1">Fecha</td>
                </tr>
                <tr>
                  <td colspan="4">Observaciones de los representante legales:</td>
                </tr>
                <tr>
                  <td colspan="4">
                    <p class="center trr"><b>PERSONA(S) AUTORIZADA(S)</b></p>
                  </td>
                </tr>
                <tr>
                  <td colspan="4">Nombre &nbsp;&nbsp; Apellido Paterno &nbsp;&nbsp; Apellido Materno &nbsp;&nbsp;
                    ( )Firma Separada &nbsp;&nbsp; ( ) Firma Conjunta</td>
                </tr>
                <tr>
                  <td colspan="4">
                    Firma:
                  </td>
                </tr>
                <tr>
                  <td colspan="4">
                    <p class="center trr"><b>AUTORIZACIÓN PARA MERCADEO </b></p>
                  </td>
                </tr>
                <tr>
                <tr>
                  <td colspan="4">
                    <p class="justificacion">Otorgo en este acto mi consentimiento a BANCO DEL BIENESTAR para que pueda utilizarla información
                    proporcionada
                    en el presente contrato con fines mercadotécnicos, publicitarios o para recibir publicidad. Lo
                    anterior, sin perjuicio
                    de que el Cliente podrá en cualquier momento solicitar su inscripción en el Registro de Usuarios que
                    no deseen que su información
                    sea utilizada para fines mercadotécnicos o publicitarios.</p>
                    <br><br>
                    <div class="container">
                      <div class="center">
                        <div class="col s12">
                          <hr>
                        </div>
                        <div class="col s12">
                          <p><b>Nombre y Firma de consentimiento del Cliente</b></p>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
             </div>
              <br>
              <br>
              <div class="container">
                <div class="row">
                  <div class="col s6">
                    <hr>
                  </div>
                  <div class="col s6">
                    <hr>
                  </div>
                  <div class="col s6">
                    <p class="center"><b>Cliente</b></p>
                  </div>
                  <div class="col s6">
                    <p class="center"><b>Funcionario(s) Autorizado (s) de BANCO DEL BIENESTAR</b></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>