<div class="container">
    <div class="row">
        <div class="col s12 m12">
          <div class="card">
            <div class="card-content">
                <br><br>
                    <p class="titulos">Nombre comercial del Producto: CRÉDITO DIRECTO 
                    <br> PRODUCTIVO 
                    <br> Tipo de Crédito: CRÉDITO SIMPLE
                    <br> Preceptos Legales</p><br><br>
                    <div class="container">
                    <p class="justificacion"><b>LEY FEDERAL PARA LA PREVENCIÓN E IDENTIDICACIÓN DE OPERACIONES CON RECURSOS DE PROVEDENCIA ILÍCITA</b>
                        <br>
                        <b> Artículo 18.</b> Quienes realicen las Actividades Vulnerables a que se refiere el artículo anterior tendrán las obligaciones siguientes:
                        <br>
                        <br>
                        I.Identificar a los clientes y usuarios con quienes realicen las propias Actividades sujetas a supervisión y verificar su identidad basándose en credenciales 
                        o documentación oficial, así como recabar copia de la documentación; 
                        <br>
                        <br>
                        II.Para los casos en que se establezca una relación de negocios, se solicitará al cliente o usuario la información sobre  su actividad  u  ocupación,  basándose  entre  otros,  en  los  avisos  de    
                        inscripción    y  actualización  de actividades presentados para efectos del Registro Federal de Contribuyentes;
                        <br>
                        <br>
                        IV.Custodiar, proteger, resguardar y evitar la destrucción u ocultamiento de la información y documentación que sirva de soporte a la Actividad Vulnerable, así como la que identifique a sus clientes ousuarios.
                        <br>
                        La  información  y  documentación  a  que  se  refiere  el  párrafo  anterior  deberá conservarse  de  manera  física  o electrónica, por un plazo de cinco años contado a partir de la fecha de la realización
                        de la Actividad Vulnerable, salvo que las leyes de la materia de las entidades federativas establezcan un plazo diferente;
                        <br>
                        <br>
                        V.Brindar las facilidades necesarias para que se lleven a cabo las visitas de verificación en los términos de esta Ley, y
                        <br>
                        <br>
                        VI.Presentar los Avisos en la Secretaría en los tiempos y bajo la forma prevista en esta Ley.
                        <br>
                        <br>
                        <b>Artículo 21.</b> Los clientes o usuarios de quienes realicen Actividades Vulnerables les proporcionarán a éstos la información y documentación necesaria para el cumplimiento 
                        de las obligaciones que esta Ley establece.
                        <br>
                        <br>
                        Quienes realicen las Actividades Vulnerables deberán abstenerse, sin responsabilidad alguna, de llevar a cabo el acto u operación  de  que  se  trate,  cuando  sus  clientes  o  usuarios  se  nieguen  a  
                        proporcionarles  la  referida  información  o documentación a que se refiere el párrafo anterior.
                        <br>
                        <br>
                        <b>LEY PARA REGULAR LAS SOCIEDADES DE INFORMACIÓN CREDITICIA
                        <br>Artículo 20.</b>-La base de datos de las Sociedades se integrará con la información sobre operaciones crediticias y otras de naturaleza  análoga  que  
                        le  sea  proporcionada  por  los  Usuarios.  Los  Usuarios  que  entreguen  dicha  información  a  las Sociedades deberán hacerlo de manera completa y veraz; asimismo, estarán obligados a señalar expresamente la fecha de  origen  
                        de  los  créditos  que  inscriban  y  la  fecha  del  primer  incumplimiento.  Las  Sociedades  no  deberán  inscribir  por ningún motivo, créditos cuya fecha de origen no sea especificado por los Usuarios, o cuando éste tenga una antigüedad 
                        en cartera vencida mayor a 72 meses. Lo anterior, de conformidad con lo establecido en los artículos 23 y 24 de esta Ley.
                        <br>
                        En caso de que la información proporcionada por el Usuario sea relativa a una persona moral, el Usuario deberá incluir a los  accionistas o  titulares  de las  partes  sociales,  según corresponda,  que  sean  
                        propietarios  del  10% o  más  del  capital social.
                        <br>
                        <br>
                        Las Entidades Financieras deberán proporcionar, de conformidad con las disposiciones de carácter general que, al efecto, emita  el  Banco  de  México,  la  información  relativa  a  sus  operaciones  crediticias,  al  menos,  a  una  de  las  Sociedades organizadas conforme a esta Ley.
                        <br>
                        <br>
                        Cuando el cliente realice el cumplimiento de una obligación, el Usuario deberá proporcionar a la Sociedad la información del pago correspondiente y la eliminación de la clave de prevención u observación correspondiente. El Usuario deberá enviar dicha información dentro de los cinco
                        días hábiles posteriores al pago. En el caso a que se refiere el párrafo quinto del artículo 27 bis, los Usuarios contarán con un plazo de hasta diez días hábiles para enviar la información actualizada a la Sociedad.
                        <br>
                        <br>
                        En el supuesto al que se refiere el párrafo anterior, las Sociedades tendrán un plazo de hasta tres días hábiles contados a partir de la fecha en que hayan recibido la información de los Usuarios, para actualizar dicha información en sus bases de datos.
                        <br>
                        <br>
                        Cuando los clientes se acojan a programas de recuperación de créditos de Entidades Financieras, Empresas Comerciales o  Sofomes  E.N.R.  los  Usuarios  deberán  reportar  a  las  sociedades  de  Información  Crediticia  dichos  créditos  como saldados, en caso de que hayan sido finiquitados.
                        <br>
                        <br>
                        <b>LEY PARA LA TRANSPARENCIA Y ORDENAMIENTO DE LOS SERVICIOS FINANCIEROS
                        <br>
                        Artículo  23.</b> En  todas  las  operaciones  y  servicios  que  las  Entidades  Financieras  celebren  por  medio  de  Contratos  de Adhesión  masivamente  celebradas
                        y  hasta  por  los  montos  máximos  que establezca  la  Comisión  Nacional  para  la Protección y Defensa de los Usuarios de Servicios Financieros en disposiciones de carácter general, aquéllas deberán proporcionarle a sus Clientes la asistencia, acceso y facilidades necesarias 
                        para atender las aclaraciones relacionadas con  dichas  operaciones  y  servicios.  Párrafo  reformado  DOF  25-06-2009  Al  efecto,  sin  perjuicio  de  los  demás procedimientos y requisitos que impongan otras autoridades financieras facultadas para ello en relación con operaciones materia de su ámbito de competencia, en todo caso se estará a lo siguiente:
                        <br>
                        <br>
                        I.Cuando el Cliente no esté de acuerdo con alguno de los movimientos que aparezcan en el estado de cuenta respectivo o en los medios electrónicos, ópticos o de cualquier otra tecnología quese hubieren pactado, podrá presentar una solicitud de aclaración dentro del plazo de noventa días naturales contados a partir de la fecha de corte o, en su caso, 
                        de la realización de la operación o del servicio. La solicitud respectiva  podrá presentarse ante la sucursal en la que radica la cuenta, o bien, en la unidad especializada de la institución de que se trate, mediante escrito, correo electrónico o cualquier otro medio por el que se pueda comprobar fehacientemente su recepción. En todos los casos, 
                        la institución estará obligada a acusar recibo de dicha solicitud. Tratándose de cantidades a cargo del Cliente dispuestas mediante cualquier  mecanismo  determinado al efecto por la Comisión Nacional para la Protección y Defensa de los Usuarios de los Servicios Financieros en disposiciones de carácter general, el Cliente tendrá el derecho de
                        no realizar el pago cuya aclaración solicita, así como el de cualquier otra cantidad relacionada con dicho pago, hasta en tanto se resuelva la aclaración conforme al procedimiento a que se refiere esteartículo;
                        <br>
                        <br>
                        II.Una vez recibida la solicitud de aclaración, la institución tendrá un plazo máximo de cuarenta y cinco días para entregar al Cliente el dictamen correspondiente, anexando copia simple del documento o evidencia considerada para la emisión de dicho dictamen, con base en la información que,  conforme  a  las  disposiciones aplicables, 
                        deba  obrar en su poder, así como un informe detallado en el que se respondan   todos los hechos contenidos en la solicitud presentada por el Cliente. En el caso de reclamaciones relativas a operaciones realizadasenelextranjero, el plazo previsto en este párrafo será hasta de ciento ochenta días naturales. El dictameneinformeantes referidos deberán formularse 
                        por escrito y suscribirse por personal de la institución facultado para ello. En  el  evento  de  que,  conforme  al  dictamen  que  emita  la  institución,  resulte  procedente  el  cobro  del  monto respectivo, el Cliente deberá hacer el pago de la cantidad a su cargo, incluyendo los intereses ordinarios conforme a lopactado, sin que proceda el
                        cobro de intereses moratorios y otros accesorios generados por lasuspensióndelpago realizada en términos de esta disposición;
                        <br>
                        <br>
                        III.Dentro  del  plazo  de  cuarenta  y  cinco  días  naturales contado  a  partir  de  la  entrega  del  dictamen  a  que  se refiere la fracción anterior, la institución estará obligada a poner a disposición del Cliente en la sucursal en la queradicala  cuenta,  o  bien,  en la  unidad  especializada  de  la  institución  de  que  se  trate,  
                        el  expediente generado con motivo     de la solicitud, así como a integrar en éste, bajo su más estricta responsabilidad,     toda la documentación e información que, conforme a las disposiciones aplicables, deba obrar en su poder y que se relacione  directamente  con  la  solicitud  de  aclaración  que  corresponda  y  sin  incluir  datos  correspondientes  aoperacionesrelacionadascon terceras personas;
                        <br>
                        <br>
                        IV.En  caso  de  que  la  institución  no  diere  respuesta  oportuna  a  la  solicitud  del  Cliente  o  no  le  entregare  el dictamen e informe detallado, así como la documentación o evidencia antes referidos, la Comisión Nacional para la Protección y Defensa de los Usuarios de los Servicios Financieros, impondrá multa en los términos previstos en      la fracción XI del artículo 43 de esta 
                        Ley por un monto equivalente al reclamado por el Cliente en términos de este artículo, y Fracción.
                        <br>
                        <br>
                        V.Hasta  en  tanto  la  solicitud  de  aclaración  de  que  se  trate  no  quede  resuelta  de  conformidad  con  el procedimiento señalado en este artículo, la institución no podrá reportar como vencidas las cantidades sujetas adichaaclaracióna las sociedades de informacióncrediticia
                        <br>
                        <br>
                        Lo antes dispuesto es sin perjuicio del derecho de los Clientes de acudir ante la Comisión Nacional para la Protección y Defensa de  los  Usuarios  de  Servicios  Financieros  o  ante  la  autoridad  jurisdiccional  correspondiente  conforme  a  las disposiciones legales aplicables, así como de las sanciones que deban imponerse a la institución
                        por incumplimiento a lo establecido en el presente artículo. Sin embargo, el procedimiento previsto en este artículo quedará sin efectos a partir de que el Cliente presente su demanda ante autoridad jurisdiccional o conduzca su reclamación en términos y plazos de la Ley de Protección y Defensa al Usuario de Servicios Financieros.
                        <br>
                        <br>
                        <b>
                        CÓDIGO CIVIL FEDERAL
                        <br>
                        Artículo  2111.- </b> Nadie  está  obligado  al  caso  fortuito  sino cuando  ha  dado causa  contribuido  a  él,  cuando ha  aceptado expresamente esa responsabilidad, o cuando la ley se la impone.    
                    <br>
                    <br>
                    </p>
                        <p>RECA 0298-439-033296/01-02385-0720</p>
                   
                    </div><br><br><br>
            </div>
          </div>
        </div>
    </div>
</div>