<app-header></app-header>
<div class="bg"></div>
<div class="container">
    <div id="login" class="col card s6 offset-s3 m6 offset-m3 l6 offset-l4 mycolor">
        <br>
        <div class="container">
            <form ngNativeValidate [formGroup]="form" (ngSubmit)="login()">
                <p class="flow-text white-text center-align">Iniciar Sesión</p>
                <div class="row">

                    <div class="input-field col s10 l12">
                        <i class="material-icons prefix icon-white">account_circle</i>
                        <input id="email" formControlName="email" type="email" name='email' class="validate">
                        <label class="white-text" for="email">Email</label>
                        <div class="red-text" *ngIf="f.email.errors?.email">El correo electrónico debe de ser válido.</div>
                    </div>
                    <div class="input-field col s10 l12">
                        <i class="material-icons prefix icon-white">lock</i>
                        <input id="password" formControlName="password" [type]="passType" name='password' class="validate">
                        <label class="white-text" for="password">Contraseña</label>
                        <div class="red-text col s12" *ngIf="f.password.errors && !form.pristine">Debe tener un mínimo de 8 caracteres 1 mayúscula, 1 minúscula, 1 número.</div>
                        <i class="material-icons prefix" *ngIf="icon" (click)="viewPassword()">visibility_off</i>
                        <i class="material-icons prefix" *ngIf="!icon" (click)="viewPassword()">visibility</i>
                    </div>

                    <div class="col s12 m8 offset-m4 l8 offset-l4">
                        <a (click)="forgot()" class="white-text">¿Olvidaste tu Contraseña?</a>
                    </div>
                </div>
                <br>

                <!--<div class="row">
                    <div class="col s10 offset-s1 m7 offset-m3 l7 offset-l3">
                        <re-captcha (resolved)="resolved($event)" siteKey="6LfDz-8UAAAAABFwd5rlLAdW2pW-TOQScfX6q_6n"></re-captcha>
                    </div>
                </div>-->

                <br>
                <div class="row">
                    <div class="col s5 offset-s1 m4 offset-m3 l4 offset-l2">
                        <button type="submit" class="waves-effect waves-light btn red darken-3"> 
        Ingresar <i class="material-icons right">send</i> </button>

                    </div>
                    <div class="col s4 m4 l4">
                        <button routerLink="/home" class="waves-effect waves-light btn grey">Cancelar</button>
                    </div>

                </div>
            </form>
        </div>
        <br>
    </div>

    <div id="forgot" class="hide valign-wrapper row login-box ">

        <div class="col card s11 offset-s1 m7 offset-m2 l6 offset-l4 mycolor">
            <br>
            <p class="flow-text white-text center-align">Recuperar Contraseña</p>
            <div class="card-content">
                <div class="row">
                    <form ngNativeValidate [formGroup]="form1" (ngSubmit)="recuperarpsw()">
                        <div class="input-field col s12">
                            <i class="material-icons prefix icon-white">account_circle</i>
                            <input id="email" type="email" formControlName="email" name='email' class="validate">
                            <label class="white-text" for="email">Email</label>
                            <div class="red-text" *ngIf="fgt.email.errors?.email">El correo electrónico debe de ser valido</div>

                        </div>

                        <br>
                        <div class="row">
                            <div class="col s6 m6 offset-m3 l6 offset-l1 ">
                                <!--<button (click)="recuperar()" type="submit" ng-click=”recuperar()” class="waves-effect waves-light btn red darken-3 right"> 
                    Recuperar <i class="material-icons right">send</i> </button>-->
                                <button class="waves-effect red darken-3 btn right" type="submit">Recuperar
                        <i class="material-icons right">send</i>
                      </button>
                            </div>
                            <div class="col s6  m6 offset-m3 l3 ">
                                <a (click)="cancel()" class="waves-effect waves-light btn grey left">Cancelar</a>
                            </div>


                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>



</div>



<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 class="ZZ">Solicitud de Cambio de Contraseña</h4>
        <p class="flow-text">Para continuar, revisa el correo que nos proporcionaste y encontraras las instrucciones para restablecer tu contraseña.</p>
    </div>
    <div class="modal-footer">
        <a routerLink="/home" class="modal-close waves-effect teal darken-4 white-text btn-flat">Aceptar</a>
    </div>
    <div class="footer-copyright teal darken-3">
        <img class="responsive-img" src="https://framework-gb.cdn.gob.mx/landing/img/pleca.svg">
    </div>
</div>