<div class="">
  <!-- container -->
  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-content">
          <div class="row" id="PDFcontrato">
            <p class="subrayar titulos">ANEXO 2</p>
            <p class="subrayar titulos">CARÁTULA DEL CRÉDITO</p><br>
            <table>
              <tr>
                <td class="justificacion" colspan="4">
                  <p><b>Nombre comercial del Producto: CRÉDITO DIRECTO PRODUCTIVO</b></p>
                  <p><b>Tipo de Crédito: SIMPLE</b></p>
                </td>
              </tr>
              <tr>
                <td class="justificacion espacio" colspan="1">
                  <p class="center"><b>CAT (Costo Anual Total)</b></p><br><br>
                  <p class="center"><b> {{ catPorcentaje.toFixed(2) }} %</b></p>
                </td>
                <td class="justificacion espacio" colspan="1">
                  <p class="center"><b>TASA DE INTERÉS ANUAL FIJA</b></p><br><br>
                  <p class="center"><b>{{ loanData.annualInterestRate }}%</b></p>
                </td>
                <td class="justificacion espacio" colspan="1">
                  <p class="center"><b>MONTO DEL CRÉDITO</b></p><br><br>
                  <p class="center"><b>{{ loanData.principal | currency:"MXN":"symbol" }}</b></p>
                </td>
                <td class="justificacion espacio" colspan="1">
                  <p class="center"><b>MONTO TOTAL A PAGAR</b></p><br><br>
                  <p class="center"><b>{{ loanData.summary.totalExpectedRepayment | currency:"MXN":"symbol" }}</b></p>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <p class="center">Sin IVA Para fines informativos y de comparación.</p>
                </td>
                <td class="justificacion" colspan="1"></td>
                <td class="justificacion" colspan="1"></td>
                <td class="justificacion" colspan="1"></td>
              </tr>
              <tr>
                <td class="justificacion" colspan="1">
                  <p><b>PLAZO DEL CRÉDITO: {{ loanData.numberOfRepayments }} Meses.</b></p>
                </td>
                <td class="justificacion" colspan="3">
                  <p><b>Fecha límite de pago:</b></p>
                  <p><b>Fecha de corte:</b></p>
                </td>
              </tr>
              <tr>
                <td class="justificacion" colspan="4">
                  <p class="center"><b>COMISIONES RELEVANTES</b></p>
                </td>
              </tr>
              <tr>
                <td class="justificacion espacio" colspan="2">
                  <p class="center">No aplica</p>
                </td>
                <td class="justificacion" colspan="2"></td>
              </tr>
              <tr>
                <td class="justificacion" colspan="4">
                  <p><b>ADVERTENCIAS</b></p>
                  <p>Incumplir tus obligaciones te puede generar comisiones e intereses moratorios.</p>
                  <p>Contratar créditos que excedan tu capacidad de pago afecta tu historial crediticio.</p>
                </td>
              </tr>
              <tr>
                <td class="justificacion" colspan="4">
                  <p class="center"><b>SEGUROS</b></p>
                </td>
              </tr>
            </table>
            <table>
              <tr>
                <td class="justificacion espacio" colspan="1">
                  <p>No aplica</p>&nbsp;&nbsp;&nbsp;
                </td>
                <td class="justificacion espacio" colspan="1">
                  <p>Aseguradora:</p>
                </td>
                <td class="justificacion espacio" colspan="1">
                  <p>Cláusula:</p>
                </td>
              </tr>
              <tr>
                <td class="justificacion" colspan="3">
                  <p><b>Estado de Cuenta</b></p><br>
                  <div class="row">
                    <div class="col s3">
                      <p class="center">Enviar a domicilio: ( )</p>
                    </div>
                    <div class="col s5">
                      <p class="center">Consulta: Sucursal que otorgó el crédito ( )</p>
                    </div>
                    <div class="col s4">
                      <p class="center">Envío por correo electrónico: ( )</p>
                    </div>
                  </div>

              </tr>
              <tr>
                <td class="justificacion" colspan="3">
                  <p><b>Aclaraciones y Reclamaciones:</b></p>
                  <p>Unidad Especializada de Atención a Usuarios:</p>
                  <p>Domicilio: Avenida Río Magdalena 115, Col. Tizapán San Ángel, C.P. 01090, Alcaldía Álvaro Obregón,
                    en la Ciudad
                    de México.</p>
                  <p>Teléfono: (0155) 54813300. Correo electrónico: ueau@bancodelbienestar.gob.mx</p>
                  <p>Página de Internet: www.bancodelbienestar.gob.mx</p>

                </td>
              </tr>
              <tr>
                <td class="justificacion" colspan="3">&nbsp;
                  <p><b>Registro de Contratos de Adhesión Número: 0298-439-033296/01-02385-0720</b></p>
                  <p>Comisión Nacional para la Protección y Defensa de los Usuarios de Servicios Financieros (CONDUSEF):
                  </p>
                  <p>Teléfono: 01 800 999 8080 y 53400999. Página de Internet.<u> www.gob.mx/condusef.</u></p>
                </td>
              </tr>

            </table>
            <div class="container">
              <p class="titulos">Cudad de México, a <b>{{date}}</b></p><br><br>
              <div class="row">
                <div class="col s12">
                  <p class="center"><b>EL CLIENTE</b></p>
                </div><br><br><br>
                <div class="col s12 center">
                  <b>{{ loanData.clientName }}</b>
                </div>

                <br><br>
                <div class="col s12">
                  <p class="center"><b>EL BANCO</b></p>
                </div><br><br><br>
               
                <div class="col s12">
                  <p class="center">(Firma del Representante legal)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <ul>
      <li>
        <button class="waves-effect teal btn darken-4 modal-trigger left ml-3"
          (click)="downloadPDF($event, 'contrato')">
          <span class="white-text text-darken-4" style="font-size: 14px;">
            DESCARGAR PDF
          </span>
        </button>
      </li>
    </ul>
  </div> -->
</div>
