<app-header></app-header>

<!--Carrousel-->
<div class="carousel carousel-slider">
    <a class="carousel-item" href="#"><img src="../../assets/Banco-del-Bienestar-Gráficos---BANNER2.png"></a>
    <a class="carousel-item" href="#"><img src="https://framework-gb.cdn.gob.mx/landing/img/clanding3.png"></a>
    <a class="carousel-item" href="#"><img src="https://framework-gb.cdn.gob.mx/landing/img/clanding2.png"></a>
    <a class="carousel-item" href="#"><img src="https://framework-gb.cdn.gob.mx/landing/img/clanding1.png"></a>
    <a class="carousel-item" href="#"><img src="https://framework-gb.cdn.gob.mx/landing/img/clanding4.png"></a>
</div>

<!--
    <div class="container">
        <form action="#">
            <ng5-slider [(value)]="valueMon" [options]="optionsMon"></ng5-slider>
            <br><br>
            <ng5-slider [(value)]="valuePlaz" [options]="optionsPlaz"></ng5-slider>
          </form>
          <br><br><br>
          <div class="row">
            <div class="col m6 offset-m3 s12">
              <div class="card-panel red darken-4">
                <span class="white-text">Total a Pagar <b>{{valueMon+(valueMon*.50)}}</b></span>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col m4 s8 offset-s2">
                <div class="card crd">
                    <div class="card-content">
                        <i class="medium material-icons icon-gold">monetization_on</i>
                      <h4>Monto</h4>
                      <p>{{valueMon}}</p>
                      </div>
                  </div>
              </div>

            <div class="col m4 s8 offset-s2">
                <div class="card crd">
                    <div class="card-content">
                      <i class="material-icons medium icon-gold">date_range</i>
                      <h4>Plazo</h4>
                      <p>{{valuePlaz}}</p>
                      </div>
                  </div>
            </div>

            <div class="col m4 s8 offset-s2">

                <div class="card crd">
                    <div class="card-content">
                        <i class="material-icons medium icon-gold">local_atm</i>
                      <h4>Parcialidad</h4>
                      <p>{{valueMon}}</p>
                      </div>
                  </div>
            </div>
        </div>
        </div>
        -->
<!---->

<div class="container">
    <blockquote>
        <p class="flow-text"><b>¿Cómo Funciona?</b></p>
    </blockquote>
    <div class="col s10 offset-s1">
        <p class="flow-text center-align">Los creditos rapidos que ofrecemos funcionan a nivel nacional en cuotas fijas y en pesos. Comienza a pagarlo dentro de <b>4 meses.</b></p>
    </div>
    <div class="row">
        <div class="col m4 s6 offset-s2">
            <img class="responsive-img" src="../../assets/Banco-del-Bienestar-Gráficos---ENROLL.png">
        </div>
        <div class="col m4 s6 offset-s2">
            <img class="responsive-img" src="../../assets/Banco-del-Bienestar-Gráficos---PREAP.png">
        </div>
        <div class="col m4 s6 offset-s2">
            <img class="responsive-img" src="../../assets/Banco-del-Bienestar-Gráficos---FORMAL.png">
        </div>
    </div>
</div>


<div class="row">
    <div class="cono2 special col xl7 offset-xl1 l6 offset-l1 m6 offset-m1 s10 offset-s1">

        <p class="flow-text center-align">MI PRESTAMO DE HASTA $30,000</p>
        <br><br>
        <div class="custom-slider">
            <ng5-slider [(value)]="valueMon" [options]="optionsMon"></ng5-slider>
        </div>
        <br><br>
        <div class="custom-slider">
            <ng5-slider [(value)]="valuePlaz" [options]="optionsPlaz"></ng5-slider>
        </div>
        <br><br>
        <div class="center-align">
            <p class="white-text flow-text cr">Total a Pagar <b>$ {{valueMon+(valueMon*.50)}}</b></p>
        </div>
        <br><br>
        <!--
                    <div class="card-panel crd ">
                        <h3 class="black-text">Total a Pagar <b>{{valueMon+(valueMon*.50)}}</b></h3>
                    </div>
                    -->
        <div class="center-align">
            <a routerLink="/apply" class="pulse waves-effect waves-light large red darken-3 btn"><i class="material-icons right">credit_card</i>Solicitalo Ahora</a>
        </div>
        <br><br>
    </div>

    <div class="crono1 col m4 offset-m1 l3 offset-l1 xl2 offset-xl1 s10 offset-s1">
        <div class="card crd teal darken-4 white-text z-depth-3">
            <div class="card-content">
                <i class="medium material-icons icon-gold">monetization_on</i>
                <p>Monto</p>
                <p>{{valueMon}}</p>
            </div>
        </div>

        <div class="card crd teal darken-4 white-text z-depth-3">
            <div class="card-content">
                <i class="material-icons medium icon-gold">date_range</i>
                <p>Plazo</p>
                <p>{{valuePlaz}}</p>
            </div>
        </div>

        <div class="card crd teal darken-4 white-text z-depth-3">
            <div class="card-content">
                <i class="material-icons medium icon-gold">local_atm</i>
                <p>Parcialidad</p>
                <p>{{valueMon}}</p>
            </div>
        </div>

    </div>

</div>



<div class="container">
    <blockquote>
        <p class="flow-text"><b>Crédito Personal</b></p>
    </blockquote>
    <div class="col s10 offset-s1">
        <p class="flow-text center-align">Los creditos rapidos que ofrecemos funcionan a nivel nacional en cuotas fijas y en pesos. Comienza a pagarlo dentro de <b>4 meses.</b></p>
    </div>
    <div class="row">
        <div class="col m4 s6 offset-s2">
            <img class="responsive-img" src="../../assets/Banco-del-Bienestar-Gráficos---RQ1.png">
        </div>
        <div class="col m4 s6 offset-s2">
            <img class="responsive-img" src="../../assets/Banco-del-Bienestar-Gráficos----RQ2.png">
        </div>
        <div class="col m4 s6 offset-s2">
            <img class="responsive-img" src="../../assets/Banco-del-Bienestar-Gráficos---RQ4.png">
        </div>
    </div>
</div>


<div class="teal darken-4 white-text">
    <br>
    <p class="flow-text center-align">Consigue hoy mismo el credito que necesitas</p>
    <div class="center-align">
        <a routerLink="/apply" class="waves-effect waves-light pulse large red darken-3 btn"><i class="material-icons right">credit_card</i>Solicitalo Ahora</a>
    </div>
    <br>
</div>

<div class="container">
    <blockquote>
        <p class="flow-text"><b>Crédito Empresarial</b></p>
    </blockquote>
    <div class="col s10 offset-s1">
        <p class="flow-text center-align">Los creditos rapidos que ofrecemos funcionan a nivel nacional en cuotas fijas y en pesos. Comienza a pagarlo dentro de <b>4 meses.</b></p>
    </div>
    <div class="row">
        <div class="col m3 s6 offset-s2">
            <img class="responsive-img" src="../../assets/Banco-del-Bienestar-Gráficos---RQ1.png">
        </div>
        <div class="col m3 s6 offset-s2">
            <img class="responsive-img" src="../../assets/Banco-del-Bienestar-Gráficos----RQ2.png">
        </div>
        <div class="col m3 s6 offset-s2">
            <img class="responsive-img" src="../../assets/Banco-del-Bienestar-Gráficos---RQ3.png">
        </div>
        <div class="col m3 s6 offset-s2">
            <img class="responsive-img" src="../../assets/Banco-del-Bienestar-Gráficos---RQ4.png">
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col s6 m3">
            <a href="#"><img class="responsive-img" src="https://pbs.twimg.com/media/ESOOTfqVUAEDs61?format=jpg&name=medium"></a>
        </div>
        <div class="col s6 m3">
            <a href="#"><img class="responsive-img" src="https://pbs.twimg.com/media/ERVkMC_U8AAKEZb?format=jpg&name=small"></a>
        </div>
        <div class="col s6 m3">
            <a href="#"><img class="responsive-img" src="https://pbs.twimg.com/media/ER0aN8iUYAE8u_J?format=jpg&name=medium"></a>
        </div>
        <div class="col s6 m3">
            <a href="#"><img class="responsive-img" src="https://pbs.twimg.com/media/ERqLRb1VAAAe_0Q?format=jpg&name=medium"></a>
        </div>
    </div>
</div>










<!--GRID-->
<!--
<div class="container row">
    <div class="col s1 deep-orange white-text">1</div>
    <div class="col s1 purple white-text">2</div>
    <div class="col s1 deep-orange white-text">3</div>
    <div class="col s1 purple white-text">4</div>
    <div class="col s1 deep-orange white-text">5</div>
    <div class="col s1 purple white-text">6</div>
    <div class="col s1 deep-orange white-text">7</div>
    <div class="col s1 purple white-text">8</div>
    <div class="col s1 deep-orange white-text">9</div>
    <div class="col s1 purple white-text">10</div>
    <div class="col s1 deep-orange white-text">11</div>
    <div class="col s1 purple white-text">12</div>
</div>
<div class="row">
    <div class="col s1 purple white-text">1</div>
    <div class="col s1 deep-orange white-text">2</div>
    <div class="col s1 purple white-text">3</div>
    <div class="col s1 deep-orange white-text">4</div>
    <div class="col s1 purple white-text">5</div>
    <div class="col s1 deep-orange white-text">6</div>
    <div class="col s1 purple white-text">7</div>
    <div class="col s1 deep-orange white-text">8</div>
    <div class="col s1 purple white-text">9</div>
    <div class="col s1 deep-orange white-text">10</div>
    <div class="col s1 purple white-text">11</div>
    <div class="col s1 deep-orange white-text">12</div>
</div>


<div class="row">
    <div class="col s12 teal lighten-2">
        <p>s12 m12 l12</p>
    </div>
</div>
<div class="row">
    <div class="col s12 m4 l2 teal lighten-2">
        <p>s12 m4 l2</p>
    </div>
    <div class="col s12 m4 l8 deep-orange">
        <p>s12 m4 l8</p>
    </div>
    <div class="col s12 m4 l2 teal lighten-2">
        <p>s12 m4 l2</p>
    </div>
</div>
<div class="row">
    <div class="col s12 m6 l3 deep-orange">
        <p>s12 m6 l3</p>
    </div>
    <div class="col s12 m6 l3 teal lighten-2">
        <p>s12 m6 l3</p>
    </div>
    <div class="col s12 m6 l3 deep-orange">
        <p>s12 m6 l3</p>
    </div>
    <div class="col s12 m6 l3 teal lighten-2">
        <p>s12 m6 l3</p>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->
<app-footer></app-footer>