<br><br>
<div class="row">
    <div class="col s12 m6 l6">
        <div class="card">
            <div class="card-body">
                <div id="details-panel">
            <div class="row">
                <div class="col s12 leaflet-left">
            <app-geocoding (onSearch)="refreshSearchList($event)"></app-geocoding>
                </div>
            </div>
            </div>
            </div>
        </div>
        <div class="col s12 m12 l12">
    <app-results-list [results]="results" (locationSelected)="getAddress($event)"></app-results-list>
    <app-map-point-form [mapPoint]="mapPoint"></app-map-point-form>
</div>
    </div>
    

    <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-body">
                <div id="map" leaflet (leafletMapReady)="initializeMap($event)" [leafletOptions]="options" (leafletClick)="onMapClick($event)"></div>
          </div>
        </div>
    </div>
    
</div>
<!--Direccion
<div class="row">
    <div class="col s12 m6 l6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col s12 leaflet-left">
        <app-map-point-form [mapPoint]="mapPoint"></app-map-point-form>
    </div>
                </div>
            </div>
        </div>
</div>

</div>
-->