ul.stepper.horizontal {
    min-height: 100vh;
}

i.icon-red {
    color: rgb(243, 9, 9);
}

i.icon-black {
    color: rgba(7, 3, 3, 0.979);
}

.crd {
    border: 1px solid #6F7271;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
}

.cr {
    background-color: #DDC9A3;
}

i.icon-gold {
    color: #BC955C;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer-min {
    background: #235B4E;
}

.radios {
    display: inline;
    margin-right: 10px;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
}

caption {
    padding: 0.3em;
    color: #fff;
    background: #000;
}

th {
    background: #eee;
}

.titulos {
    text-align: center;
}

.titulo {
    text-align: center;
}

.espacio {
    height: 60px;
}

.img {
    width: 250px;
}

.img2 {
    width: 400px;
}

.modalF {
    width: 980px;
}