<!--Footer-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet" type='text/css'>

<footer class="page-footer teal darken-4" stryle="font-family:'Montserrat', sans-serif;">
    <div class="row">
        <div class="col m2 offset-m1 s6 offset-s3">
            <img class="logoFoot" src="https://framework-gb.cdn.gob.mx/landing/img/logofooter.svg">
        </div>
        <div class="col m3 offset-m1 s10 offset-s1">
            <h5 class="white-text">Enlaces</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="https://participa.gob.mx">Participa</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.gob.mx/publicaciones">Publicaciones Oficiales</a></li>
                <li><a class="grey-text text-lighten-3" href="http://www.ordenjuridico.gob.mx/">Marco Jurídico</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.plataformadetransparencia.org.mx/web/guest/inicio">Plataforma Nacional de Transparencia</a></li>
            </ul>
        </div>
        <div class="col m3 s10 offset-s1">
            <h5 class="white-text">¿Que es gob.mx?</h5>
            <ul>
                <p>Es el portal único de trámites, información y participación ciudadana. <a class="grey-text text-lighten-3" href="https://www.gob.mx/que-es-gobmx">Leer más</a></p>
                <li></li>
                <li><a class="grey-text text-lighten-3" href="https://datos.gob.mx/">Portal de datos abiertos</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.gob.mx/accesibilidad">Declaración de accesibilidad</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.gob.mx/aviso_de_privacidad">Aviso de privacidad integral</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.gob.mx/privacidadsimplificado">Aviso de privacidad simplificado</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.gob.mx/terminos">Términos y Condiciones</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.gob.mx/terminos#medidas-seguridad-informacion">Política de seguridad</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.gob.mx/sitemap">Mapa de sitio</a></li>
            </ul>
        </div>
        <!--<div class="col m2 s10 offset-s1">
            <a class="grey-text text-lighten-3" href="https://www.gob.mx/tramites/ficha/presentacion-de-quejas-y-denuncias-en-la-sfp/SFP54">Denuncia contra servidores públicos</a>
        </div>-->
    </div>
    <div class="footer-copyright teal darken-3">
        <img class="responsive-img" src="https://framework-gb.cdn.gob.mx/landing/img/pleca.svg">
    </div>
</footer>