<!--Footer-->
<footer class="page-footer teal darken-4">
    <div class="row">
        <div class="col m2 offset-m1 s6 offset-s3">
            <img class="logoFoot" src="https://framework-gb.cdn.gob.mx/landing/img/logofooter.svg">
        </div>
        <div class="col m3 offset-m1 s10 offset-s1">
            <h5 class="white-text">Links</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
        </div>
        <div class="col m3 s10 offset-s1">
            <h5 class="white-text">Links</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
        </div>
        <div class="col m2 s10 offset-s1">
            <h5 class="white-text">Links</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright teal darken-3">
        <img class="responsive-img" src="https://framework-gb.cdn.gob.mx/landing/img/pleca.svg">
    </div>
</footer>