
<app-header></app-header>
<br>
<br>
<br>
<div class="container">
<div class="card col s12" id="nanoo">
    <div class="card-content">
        <div class="row center">
           <p class="flow-text">Tu solicitud esta en un proceso de revisión, se te avisara por correo electrónico una ves que se haya completado</p>
        </div>
        <div class="row center">
            &nbsp;
                <a href="#!" class="waves-effect teal darken-4 btn">Aceptar</a>  
         </div>
    </div>
</div>
</div>
<br>
<br>
<app-footer></app-footer>