<div class="col s12 m9">
    <ul class="collection with-header collapsible popout" id="prins">

        <li>

            <div class="collection-header collapsible-header"><i class="material-icons medium left">keyboard_arrow_down</i>Evaluación de tu Negocio</div>
            <div class="collapsible-body">
                <ul class="collapsible popout" id="perfilNegocio">

                    <li>
                        <div class="collapsible-header"><i class="material-icons">work</i>Perfil del Negocio</div>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <form ngNativeValidate [formGroup]="formScrPerNeg" (ngSubmit)="scrPerNegSend()">

                                    <li class="collection-item avatar validate" *ngFor="let scrPerNeg of scrPerNeg; index as i;">
                                        <span class="title">{{scrPerNeg.question}}</span>

                                        <p *ngFor="let resp of scrPerNeg.options; index as j;">
                                            <label>
                                            <input class="with-gap" (change)="changedPerNeg(j, i)" [(ngModel)]="scrPerNeg.resp" 
                                            formControlName="{{'scrPerNeg'+i}}" id="{{'scrPerNeg'+j}}" 
                                            value="{{resp.id}}" type="radio" required>
                                            <span>{{resp.name}}</span>
                                          </label>
                                        </p>


                                    </li>

                                    <br>
                                    <div class="col s12">
                                        <button class="waves-effect teal darken-4 btn left" type="submit">Siguiente
                                        <i class="material-icons prefix right">send</i>
                                    </button>
                                    </div>
                                </form>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header"><i class="material-icons">card_travel</i>Perfil de Mercado</div>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <form ngNativeValidate [formGroup]="formScrPerMer" (ngSubmit)="scrPerMerSend()">
                                    <li class="collection-item avatar" *ngFor="let scrPerMer of scrPerMer; index as i;">
                                        <span class="title">{{scrPerMer.question}}</span>

                                        <p *ngFor="let resp of scrPerMer.options; index as j;">
                                            <label>
                                            <input class="with-gap" (change)="changedPerMer(j, i)" [(ngModel)]="scrPerMer.resp" 
                                            formControlName="{{'scrPerMer'+i}}" id="{{'scrPerMer'+j}}"
                                            value="{{resp.id}}" type="radio"/>
                                            <span>{{resp.name}}</span>
                                          </label>
                                        </p>
                                    </li>
                                    <br>
                                    <div class="col s12">
                                        <button class="waves-effect teal darken-4 btn left" type="submit">Siguiente
                                        <i class="material-icons prefix right">send</i>
                                    </button>
                                    </div>
                                </form>
                            </ul>
                        </div>
                    </li>

                    
                    <li>
                        <div class="collapsible-header"><i class="material-icons">star_border</i>Reputación</div>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <form ngNativeValidate [formGroup]="formScrRep" (ngSubmit)="scrRepSend()">
                                    <li class="collection-item avatar" *ngFor="let scrRep of scrRep; index as i;">
                                        <span class="title">{{scrRep.question}}</span>

                                        <p *ngFor="let resp of scrRep.options; index as j;">
                                            <label>
                                            <input class="with-gap" (change)="changedRep(j, i)" [(ngModel)]="scrRep.resp" 
                                            formControlName="{{'scrRep'+i}}" id="{{'scrRep'+j}}" 
                                            value="{{resp.id}}" type="radio"/>
                                            <span>{{resp.name}}</span>
                                          </label>
                                        </p>
                                    </li>
                                    <br>
                                    <div class="col s12">
                                        <button class="waves-effect teal darken-4 btn left" type="submit">Siguiente
                                        <i class="material-icons prefix right">send</i>
                                    </button>
                                    </div>
                                </form>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>Dirección</div>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <form ngNativeValidate [formGroup]="formScrDir" (ngSubmit)="scrDirSend()">
                                    <li class="collection-item avatar" *ngFor="let scrDir of scrDir; index as i;">
                                        <span class="title">{{scrDir.question}}</span>

                                        <p *ngFor="let resp of scrDir.options; index as j;">
                                            <label>
                                            <input class="with-gap" (change)="changedDir(j, i)" [(ngModel)]="scrDir.resp" 
                                            formControlName="{{'scrDir'+i}}" id="dir_{{'scrDir'+j}}" 
                                            value="{{resp.id}}" type="radio"  />
                                            <span>{{resp.name}}</span>
                                          </label>
                                        </p>

                                    </li>
                                    <br>
                                    <div class="col s12">
                                        <button class="waves-effect teal darken-4 btn left" type="submit">Siguiente
                                        <i class="material-icons prefix right">send</i>
                                    </button>
                                    </div>
                                </form>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </li>
        
        
        <li>
            <div class="collection-header collapsible-header"><i class="material-icons medium left">keyboard_arrow_down</i>Queremos Conocerte</div>
            <div class="collapsible-body">
                <ul class="collapsible popout" id="queremosConocerte">

                    <!--QUEREMOS CONOCERTE-->

                    <li>
                        <div class="collapsible-header"><i class="material-icons">sentiment_satisfied_alt</i>Queremos Conocerte</div>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <form ngNativeValidate [formGroup]="formQcQc" (ngSubmit)="qcQcSend()">
                                    <li class="collection-item avatar" *ngFor="let qcQc of qcQc; index as i;">
                                        <span class="title">{{qcQc.question}}</span>

                                        <p *ngFor="let resp of qcQc.options; index as j;">
                                            <label>
                                            <input class="with-gap" [(ngModel)]="qcQc.resp" 
                                            formControlName="{{'qcQc'+i}}" id="{{'qcQc'+j}}" 
                                            value="{{resp.id}}" type="radio" />
                                            <span>{{resp.name}}</span>
                                          </label>
                                        </p>

                                    </li>

                                    <li class="collection-item avatar">
                                        <div class="input-field " *ngFor="let qcQc10 of qcQc10; index as i;">
                                            <span class="title">{{qcQc10.question}}</span>

                                            <label>
                                                <input  formControlName="qcQc10" name="qcQc10" id="qcQc10" max="38" type="number"  min="0" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" >
                                            </label>
                                        </div>
                                    </li>

                                    <br>
                                    <div class="col s12">
                                        <button class="waves-effect teal darken-4 btn left" type="submit">Siguiente
                                        <i class="material-icons prefix right">send</i>
                                    </button>
                                    </div>
                                </form>
                            </ul>
                        </div>
                    </li>
        

        <!--QUEREMOS CONOCER TU NEGOCIO-->
        <li>
            <div class="collapsible-header"><i class="material-icons">work</i>Queremos Conocer tu Negocio</div>
            <div class="collapsible-body">
                <ul class="collection">
                    <form ngNativeValidate [formGroup]="formQcQcn" (ngSubmit)="qcQcnSend()">

                        <li class="collection-item avatar" *ngFor="let preg1 of preg1; index as i;">
                                <span class="title">{{preg1.question}}</span>
                            <p>
                                <label>
                                    <input  formControlName="preg1" name="preg1" id="preg1" type="date" max="2020-01-01" >
                                </label>
                            </p>
                        </li>
                        
<!--FALTA PREGUNTA 2-->
                        <li class="collection-item avatar" *ngFor="let preg3 of preg3; index as i;">
                                <span class="title">{{preg3.question}}</span>
                            <p>
                                <label>
                                    <input  formControlName="preg3" name="preg3" id="preg3" type="number" min='0' maxlength='10'
                                    oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" >
                                </label>
                            </p>
                        </li>
                        

                        <li class="collection-item avatar" *ngFor="let preg4a5 of preg4a5; index as i;">
                                <span class="title">{{preg4a5.question}}</span>
                              <p>
                                <label>
                                    <input  formControlName="{{'preg4a5'+i}}" name="{{'preg4a5'+i}}" id="{{'preg4a5'+i}}" type="text">
                                </label>
                              </p>
                        </li>

                    <li class="collection-item avatar" *ngFor="let preg6a11 of preg6a11; index as i;">
                            <span class="title">{{preg6a11.question}}</span>
                          <p>
                            <label>
                                <input  formControlName="{{'preg6a11'+i}}" name="{{'preg6a11'+i}}" id="{{'preg6a11'+i}}" type="number"
                                min='0' max='1' step='0.01' placeholder='$'>
                            </label>
                          </p>
                    </li>
                        

                        <li class="collection-item avatar" *ngFor="let preg12a13 of preg12a13; index as i;">
                            <span class="title">{{preg12a13.question}}</span>

                            <p *ngFor="let resp of preg12a13.options; index as j;">
                                <label>
                                <input class="with-gap" [(ngModel)]="preg12a13.resp" 
                                formControlName="{{'preg12a13'+i}}" id="{{'preg12a13'+j}}" 
                                value="{{resp.id}}" type="radio" />
                                <span>{{resp.name}}</span>
                              </label>
                            </p>

                        </li>

                        <li class="collection-item avatar" *ngFor="let preg14 of preg14; index as i;">
                            <span class="title">{{preg14.question}}</span>
                          <p>
                            <label>
                                <input  formControlName="{{'preg14'+i}}" name="{{'preg14'+i}}" id="{{'preg14'+i}}" type="number"
                                min='0' max='1' step='0.01' placeholder='$'>
                            </label>
                          </p>
                        </li>
<!--FALTA PTEGUNTA 15, 16 Y 17-->

                        <li class="collection-item avatar" *ngFor="let preg15 of preg15; index as i;">
                                <span class="title">{{preg15.question}}</span>

                                <p *ngFor="let resp of preg15.options; index as j;">
                                <label>
                                    <input class="with-gap" [(ngModel)]="preg15.resp" 
                                     formControlName="{{'preg15'+i}}" id="{{'preg15'+j}}" 
                                    value="{{resp.id}}" type="checkbox" />
                                 <span>{{resp.name}}</span>
                                </label>
                                </p>

                        </li>

                        <li class="collection-item avatar" *ngFor="let preg18 of preg18; index as i;">
                            <span class="title">{{preg18.question}}</span>
                          <p>
                            <label>
                                <input  formControlName="{{'preg18'+i}}" name="{{'preg18'+i}}" id="{{'preg18'+i}}" type="number"
                                min='0' max='1' step='0.01' placeholder='$'>
                            </label>
                          </p>
                        </li>

                        <li class="collection-item avatar" *ngFor="let preg19a28 of preg19a28; index as i;">
                            <span class="title">{{preg19a28.question}}</span>

                            <p *ngFor="let resp of preg19a28.options; index as j;">
                                <label>
                                <input class="with-gap" [(ngModel)]="preg19a28.resp" 
                                formControlName="{{'preg19a28'+i}}" id="{{'preg19a28'+j}}" 
                                value="{{resp.id}}" type="radio" />
                                <span>{{resp.name}}</span>
                              </label>
                            </p>

                        </li>

                       <!--  <li class="collection-item avatar" *ngFor="let preg29 of preg29; index as i;">
                            <span class="title">{{preg29.question}}</span>

                            <p *ngFor="let resp of preg29.options; index as j;">
                                <label>
                                <input class="with-gap" [(ngModel)]="preg29.resp" 
                                formControlName="{{'preg29'+i}}" id="{{'preg29'+j}}" 
                                value="{{resp.id}}" type="radio" />
                                <span>{{resp.name}}</span>
                              </label>
                            </p>

                        </li> -->
                        <li class="collection-item avatar" *ngFor="let preg29 of preg29; index as i;">
                            <label class="title black-text">{{preg29.question}}</label>
                            <p>
                                <select multiple formControlName="preg29"  name="preg29" id="preg29" [(ngModel)]="preg29.resp">
                                    <option  value=null disabled selected>seleccionar una o más de las siguientes opciones</option>
                                    <option  value="{{resp.id}}" *ngFor="let resp of preg29.options; index as j;">{{resp.name}}</option>
                                  </select>
                            </p>
                        </li>

                       
                    </form>
                </ul>
            </div>
        </li>
            


        </ul>
    </div>




    </li>
</ul>


      
    <!--pruebas-->
    <div class="col s12">
      <a class="waves-effect teal darken-4 btn previous-step left">Atras
        <i class="material-icons prefix left">arrow_back_ios</i>
      </a>
      <a class="waves-effect  teal darken-4 btn modal-trigger right" (click)="sendQuestions()">
          <i class="material-icons prefix right">send</i> Continuar
      </a>
    </div>
</div>



<div id="loader" class="modal transparent z-depth-0 center">
    <div class="modal-content" >
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-green-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
    </div>    
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 class="zz">¡Felicidades!, Solicitud Registrada.</h4>
        <!--<p class="flow-text"><b>N° de Registro: </b>KJF986JHH32</p>-->
        <p class="floe-text">Tu solicitud ha sido enviada a un proceso de evaluación, te mantendremos al tanto a través del correo registrado.</p>
    </div>
    <div class="modal-footer">
        <a routerLink="/home" (click)="userService.logout()" class="modal-close waves-effect teal darken-4 white-text btn-flat">Aceptar</a>
    </div>
    <div class="footer-copyright teal darken-3">
        <img class="responsive-img" src="https://framework-gb.cdn.gob.mx/landing/img/pleca.svg">
    </div>
</div>




     

                   <!-- ok  <li>
                        <div class="collapsible-header"><i class="material-icons">work</i>Queremos Conocer tu Negocio</div>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <form ngNativeValidate [formGroup]="formQcQcn" (ngSubmit)="qcQcnSend()">


                                    <li class="collection-item avatar">
                                        <div *ngFor="let preg1 of preg1; index as i;">
                                            <span class="title">{{preg1.question}}</span>
                                            <label>
                                        <i class="material-icons prefix">calendar_today
                                            <input type="date"  [(ngModel)]="preg1.resp" formControlName="preg1" name="preg1" id="preg1"  max="2020-01-01"></i>
                                        </label>
                                        </div>
                                    </li>  -->

                                    <!-- <li class="collection-item avatar" *ngFor="let preg2_0 of preg2_0; index as i;">

                                        <span class="title">{{preg2_0.question}}</span>

                                        <p *ngFor="let resp of preg2_0.options">
                                            <label>
                                                <input class="with-gap" [(ngModel)]="preg2.resp" (change)="monto()" formControlName="{{'preg2'+i}}" name="{{'preg2'+i}}" id="{{'preg2'+i}}" value="{{resp}}" type="radio"  />
                                                <span>{{resp }}</span>
                                              </label>
                                        </p>
                                    

                                       
                                            <div *ngIf="!(sfina8 || sfina9)">
                                                <span class="title">Monto</span>
                                                <label>
                                                <input type="number" [(ngModel)]="preg2m.resp" formControlName="preg2m" name="preg2m" id="preg2m" placeholder='$'>
                                            </label>
                                            </div>
                                      
                                    </li> -->

                                <!-- ok  <li class="collection-item avatar">
                                        <div *ngFor="let preg3 of preg3; index as i;">
                                            <label class="title black-text" >{{preg3.question}}</label>
                                            <input [(ngModel)]="preg3.resp" formControlName="preg3" name="preg3" id="preg3" type="number" min='0' maxlength='10'
                                            oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" >
                                        </div>
                                    </li>

                                    <li class="collection-item avatar">
                                        <div *ngFor="let preg4a5 of preg4a5; index as i;">
                                            <label class="title black-text" for="{{'preg4a5'+i}}">{{preg4a5.question}}</label>
                                            <input [(ngModel)]="preg4a5.resp" formControlName="{{'preg4a5'+i}}" name="{{'preg4a5'+i}}" id="{{'preg4a5'+i}}" type="text">

                                        </div>
                                    </li>

                                    <li class="collection-item avatar">
                                        <div *ngFor="let preg6a11 of preg6a11; index as i;">
                                            <label class="title black-text" for="{{'preg6a11'+i}}">{{preg6a11.question}}</label>
                                            <input [(ngModel)]="preg6a11.resp" formControlName="{{'preg6a11'+i}}" name="{{'preg6a11'+i}}" id="{{'preg6a11'+i}}" type="number" min='0' max='1' step='0.01' placeholder='$'>
                                        </div>
                                    </li>
                                
                                    <li class="collection-item avatar" *ngFor="let preg12a13 of preg12a13; index as i;">
                                        <span class="title">{{preg12a13.question}}</span>

                                        <p *ngFor="let resp of preg12a13.options; index as j;">
                                            <label>
                                                <input class="with-gap" [(ngModel)]="preg12a13.resp" formControlName="{{'preg12a13'+i}}" id="{{'preg12a13'+j}}" value="{{resp.id}}" type="radio"  />
                                                <span>{{resp.name}}</span>
                                              </label>
                                        </p>
                                    </li>


                                    <li class="collection-item avatar" *ngFor="let preg14 of preg14; index as i;">
                                        <span class="title">{{preg14.question}}</span>

                                        <p *ngFor="let resp of preg14.options; index as j;">
                                            <label>
                                                <input class="with-gap" [(ngModel)]="preg14.resp" formControlName="{{'preg14'+i}}" id="{{'preg14'+j}}" value="{{resp.id}}" type="radio"  />
                                                <span>{{resp.name}}</span>
                                              </label>
                                        </p>
                                    </li>

                                    <li class="collection-item avatar">
                                        <div *ngFor="let preg14_0 of preg14_0; index as i;">
                                            <label class="title black-text" for="{{'preg14_0'+i}}">{{preg14_0.question}}</label>
                                            <input [(ngModel)]="preg14_0.resp" formControlName="{{'preg14_0'+i}}" name="{{'preg14_0'+i}}" id="{{'preg14_0'+i}}" type="number" min='0' max='1' step='0.01' placeholder='$'>
                                        </div>
                                    </li>

                                    <li class="collection-item avatar" *ngFor="let preg15 of preg15; index as i;">
                                        <span class="title">{{preg15.question}}</span>

                                        <p *ngFor="let resp of preg15.options; index as j;">
                                            <label>
                                                <input class="with-gap" [(ngModel)]="preg15.resp" formControlName="{{'preg15'+i}}" id="{{'preg15'+j}}" value="{{resp.id}}" type="radio"  />
                                                <span>{{resp.name}}</span>
                                              </label>
                                        </p>
                                    </li>

                                    <li class="collection-item avatar">
                                        <div *ngFor="let preg15_0 of preg15_0; index as i;">
                                            <label class="title black-text" for="{{'preg15_0'+i}}">{{preg15_0.question}}</label>
                                            <input [(ngModel)]="preg15_0.resp" formControlName="{{'preg15_0'+i}}" name="{{'preg15_0'+i}}" id="{{'preg15_0'+i}}" type="number" min='0' max='1' step='0.01' placeholder='$'>
                                        </div>
                                    </li>

                                    <li class="collection-item avatar" *ngFor="let preg16 of preg16; index as i;">
                                        <span class="title">{{preg16.question}}</span>

                                        <p *ngFor="let resp of preg16.options; index as j;">
                                            <label>
                                                <input class="with-gap" [(ngModel)]="preg16.resp" formControlName="{{'preg16'+i}}" id="{{'preg16'+j}}" value="{{resp.id}}" type="radio"  />
                                                <span>{{resp.name}}</span>
                                              </label>
                                        </p>
                                    </li>

                                    <li class="collection-item avatar">
                                        <div *ngFor="let preg16_0 of preg16_0; index as i;">
                                            <label class="title black-text" for="{{'preg16_0'+i}}">{{preg16_0.question}}</label>
                                            <input [(ngModel)]="preg16_0.resp" formControlName="{{'preg16_0'+i}}" name="{{'preg16_0'+i}}" id="{{'preg16_0'+i}}" type="number" min='0' max='1' step='0.01' placeholder='$'>
                                        </div>
                                    </li>

                                    <li class="collection-item avatar" *ngFor="let preg17 of preg17; index as i;">
                                        <span class="title">{{preg17.question}}</span>

                                        <p *ngFor="let resp of preg17.options; index as j;">
                                            <label>
                                                <input class="with-gap" [(ngModel)]="preg17.resp" formControlName="{{'preg17'+i}}" id="{{'preg17'+j}}" value="{{resp.id}}" type="radio"  />
                                                <span>{{resp.name}}</span>
                                              </label>
                                        </p>
                                    </li>

                                    <li class="collection-item avatar">
                                        <div *ngFor="let preg17_0 of preg17_0; index as i;">
                                            <label class="title black-text" for="{{'preg17_0'+i}}">{{preg17_0.question}}</label>
                                            <input [(ngModel)]="preg17_0.resp" formControlName="{{'preg17_0'+i}}" name="{{'preg17_0'+i}}" id="{{'preg17_0'+i}}" type="number" min='0' max='1' step='0.01' placeholder='$'>
                                        </div>
                                    </li> -->

                                   <!--  <li class="collection-item avatar">
                                        <span class="title">Pensando en los últimos 6 meses, en promedio, indique cuánto paga cada mes por los siguientes conceptos:</span>

                                        <div *ngFor="let preg14 of preg14; index as i;">
                                            <label for="{{'preg14'+i}}"><span class="title">{{preg14.quest}}</span></label>
                                            <input  [(ngModel)]="preg14.resp" formControlName="{{'preg14'+i}}" name="{{'preg14'+i}}" id="{{'preg14'+i}}" type="number" min='0' max='1' step='0.01' placeholder='$'>
                                        </div>

                                    </li> -->
 
                                     <!--

                                    <li class="collection-item avatar">
                                        <span class="title">Indique el monto de financiamiento que haya recibido de cada una de estas fuentes durante el ejercicio fiscal anterior:</span>

                                        <p>
                                            <label>
                                            <input class="with-gap teal darken-4" (change)="b5()" formControlName="preg15r" name="preg15r" id="preg15r" type="checkbox" value="preg15r" [(ngModel)]="preg15r.resp" />
                                            <span>No contó con ningún financiamiento</span>
                                        </label>
                                        </p>

                                        <div *ngIf="!sfina5">
                                            <div *ngFor="let preg15 of preg15; index as i;">
                                                <label for="{{'preg15'+i}}"><span class="title">{{preg15.quest}}</span></label>
                                                <input [(ngModel)]="preg15.resp" formControlName="{{'preg15'+i}}" name="{{'preg15'+i}}" id="{{'preg15'+i}}" type="number" min='0' max='1' step='0.01' placeholder='$'>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="collection-item avatar">
                                        <span class="title">¿Cuánto debe al día de hoy por los conceptos siguientes?</span>
                                        <br>
                                        <p>
                                            <label>
                                            <input class="with-gap teal darken-4"  (change)="b6()" formControlName="preg16r" name="preg16r" id="preg16r" type="checkbox" value="preg16r" [(ngModel)]="preg16r.resp" />
                                            <span>No contó con ningún financiamiento</span>
                                        </label>
                                        </p>
                                        <div *ngIf="!sfina6">
                                            <div *ngFor="let preg16 of preg16; index as i;">
                                                <label for="{{'preg16'+i}}"><span class="title">{{preg16.question}}</span></label>
                                                <input [(ngModel)]="preg16.resp" formControlName="{{'preg16'+i}}" name="{{'preg16'+i}}" id="{{'preg16'+i}}" type="number" min='0' max='1' step='0.01' placeholder='$'>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="collection-item avatar">
                                        <span class="title">En promedio, ¿cuánto paga cada mes por los conceptos siguientes?</span>
                                        <br>
                                        <p>
                                            <label>
                                            <input class="with-gap teal darken-4" (change)="b7()" formControlName="preg17r" name="preg17r" id="preg17r" type="checkbox" value="preg17r" [(ngModel)]="preg17r.resp" />
                                            <span>No contó con ningún financiamiento</span>
                                        </label>
                                        </p>
                                        <div *ngIf="!sfina7">
                                            <div *ngFor="let preg17 of preg17; index as i;">
                                                <label for="{{'preg17'+i}}"><span class="title">{{preg17.question}}</span></label>
                                                <input [(ngModel)]="preg17.resp" formControlName="{{'preg17'+i}}" name="{{'preg17'+i}}" id="{{'preg17'+i}}" type="number" min='0' max='1' step='0.01' placeholder='$'>
                                            </div>
                                        </div>
                                    </li>-->

                                     <!--<li class="collection-item avatar">
                                        <span class="title">Registre la cantidad que pagó la empresa por los siguientes conceptos durante el ejercicio fiscal anterior:</span>
                                        <div *ngFor="let preg18 of preg18; index as i;">
                                            <label for="{{'preg18'+i}}"><span class="title">{{preg18.question}}</span></label>
                                            <input  [(ngModel)]="preg18.resp" formControlName="{{'preg18'+i}}" name="{{'preg18'+i}}" id="{{'preg18'+i}}" type="number" min='0' max='2000000' step='0.01' placeholder='$'>
                                        </div>
                                    </li>-->

                                 <!-- ok   <li class="collection-item avatar">
                                        <div *ngFor="let preg18 of preg18; index as i;">
                                            <label class="title black-text" for="{{'preg18'+i}}">{{preg18.question}}</label>
                                            <input [(ngModel)]="preg18.resp" formControlName="{{'preg18'+i}}" name="{{'preg18'+i}}" id="{{'preg18'+i}}" type="number" min='0' max='1' step='0.01' placeholder='$'>
                                        </div>
                                    </li>

                                    <li class="collection-item avatar" *ngFor="let preg19a28 of preg19a28; index as i;">
                                        <span class="title">{{preg19a28.question}}</span>

                                        <p *ngFor="let resp of preg19a28.options; index as j;">
                                            <label>
                                            <input class="with-gap" [(ngModel)]="preg19a28.resp" formControlName="{{'preg19a28'+i}}" id="{{'preg19a28'+j}}" value="{{resp.id}}" type="radio"  />
                                            <span>{{resp.name}}</span>
                                          </label>
                                        </p>
                                    </li>

                                    <li class="collection-item avatar" *ngFor="let preg29 of preg29; index as i;">
                                        <span class="title">{{preg29.question}}</span>

                                        <p *ngFor="let resp of preg29.options; index as j;">
                                            <label>
                                            <input class="with-gap" [(ngModel)]="preg29.resp" formControlName="{{'preg29'+i}}" id="{{'preg29'+j}}" value="{{resp.id}}" type="radio"  />
                                            <span>{{resp.name}}</span>
                                          </label>
                                        </p>
                                    </li>

                                    <li class="collection-item avatar" *ngFor="let preg30 of preg30; index as i;">
                                        <span class="title">{{preg30.question}}</span>

                                        <p *ngFor="let resp of preg30.options; index as j;">
                                            <label>
                                            <input class="with-gap" [(ngModel)]="preg30.resp" formControlName="{{'preg30'+i}}" id="{{'preg30'+j}}" value="{{resp.id}}" type="radio"  />
                                            <span>{{resp.name}}</span>
                                          </label>
                                        </p>
                                    </li>

                                    <li class="collection-item avatar" *ngFor="let preg31 of preg31; index as i;">
                                        <span class="title">{{preg31.question}}</span>

                                        <p *ngFor="let resp of preg31.options; index as j;">
                                            <label>
                                            <input class="with-gap" [(ngModel)]="preg31.resp" formControlName="{{'preg31'+i}}" id="{{'preg31'+j}}" value="{{resp.id}}" type="radio"  />
                                            <span>{{resp.name}}</span>
                                          </label>
                                        </p>
                                    </li>

                                    <li class="collection-item avatar" *ngFor="let preg32 of preg32; index as i;">
                                        <span class="title">{{preg32.question}}</span>

                                        <p *ngFor="let resp of preg32.options; index as j;">
                                            <label>
                                            <input class="with-gap" [(ngModel)]="preg32.resp" formControlName="{{'preg32'+i}}" id="{{'preg32'+j}}" value="{{resp.id}}" type="radio"  />
                                            <span>{{resp.name}}</span>
                                          </label>
                                        </p>
                                    </li>
 -->
                                    <!--
                                     <li class="collection-item avatar">
                                        <label class="title black-text">¿En la empresa se realizan actualmente algunas de las siguientes actividades?</label>
                                        <p>
                                            <select multiple formControlName="preg29"  name="preg29" id="preg29" >
                                                <option  value=null disabled selected>seleccionar una o más de las siguientes opciones</option>
                                                <option  value="A">Se lleva registros escritos del negocio. Es decir, se tiene un lugar, cuaderno, archivo o computadora donde se concentra la información de las operaciones diarias del negocio</option>
                                                <option  value="B">Se sabe cuánto dinero en efectivo tiene el negocio en un momento determinado</option>
                                                <option  value="C">Se sabe si las ventas de un producto (bien o servicio) en particular están subiendo o bajando de un mes a otro</option>
                                                <option value="D">Se sabe cuánto le cuesta al negocio generar cada uno de sus principales productos (bienes o servicios). Por ejemplo, si tiene que calcular cuánto le cuesta producir una galleta, se hacen las cuentas de cuánto gasta en comprar harina, azúcar, leche, luz para usar la batidora, gas para el horno, renta del local, etcétera; otro ejemplo: si se ofrece un servicio de transporte, se hacen las cuentas de cuánto se gasta en el consumo de gasolina, casetas de peaje, etcétera.</option>
                                                <option value="E">Se sabe de qué productos (bienes o servicios) se obtienen más ganancias por cada uno que vende</option>
                                                <option value="F">El negocio no lleva registros y no cuenta con información que permita conocer a detalle su operación</option>
                                              </select>
                                        </p>
                                    </li>

                                    <li class="collection-item avatar">
                                        <label class="title black-text">¿Cuál es el motivo principal por el que se inició en este negocio o actividad?</label>
                                        <p>
                                            <select multiple formControlName="preg30" name="preg30" id="preg30">
                                                <option  value=null disabled selected>seleccionar una o más de las siguientes opciones</option>
                                                <option  value="A">Por tradición familiar o lo heredó</option>
                                                <option  value="B">Para complementar el ingreso familiar</option>
                                                <option  value="C">Para mejorar el ingreso</option>
                                                <option value="D">Tenía dinero y encontró una buena oportuindad</option>
                                                <option value="E">Para ejercer su oficio, carrera o profesión</option>
                                                <option value="F">Fue la única manera que tuvo para obtener un ingreso</option>
                                                <option  value="G">No tenía la experiencia requerida para un empleo</option>
                                                <option  value="H">No tenía la escolaridad o capacitación requerida para un empleo</option>
                                                <option  value="I">Estaba sobrecapacitado para un empleo</option>
                                                <option value="J">Los empleos que encontró estaban mal pagados</option>
                                                <option value="K">Requería un horario flexible</option>
                                                <option value="L">No había oportunidades de empleo</option>
                                                <option value="M">Otra razón</option>
                                              </select>
                                        </p>
                                    </li>

                                    <li class="collection-item avatar">
                                        <label class="title black-text">En su negocio o actividad, ¿cuenta con un local para trabajar sea o no de su propiedad?</label>
                                        <p>
                                            <select multiple formControlName="preg31" name="preg31" id="preg31">
                                                <option  value=null disabled selected>seleccionar una o más de las siguientes opciones</option>
                                                <option  value="A">Sí, es un local independiente</option>
                                                <option  value="B">Sí, es un local o instalación que forma parte de un conjunto de locales</option>
                                                <option  value="C">No</option>
                                              </select>
                                        </p>
                                    </li>

                                    <li class="collection-item avatar">
                                        <label class="title black-text">En caso de ser local independiente (fuera de un techo común), ¿éste es?</label>
                                        <p>
                                            <select multiple formControlName="preg32" name="preg32" id="preg32">
                                                <option  value=null disabled selected>seleccionar una o más de las siguientes opciones</option>
                                                <option  value="A">Tienda, accesoria o tendajón</option>
                                                <option  value="B">Taller (de servicios o de reparación)</option>
                                                <option  value="C">Fábrica, tortillería, panadería</option>
                                                <option  value="D">Oficina, despacho, consultorio</option>
                                              </select>
                                        </p>
                                    </li>

                                    <li class="collection-item avatar">
                                        <label class="title black-text">Si no cuenta con un local, ¿en dónde se realizan las actividades de su negocio?</label>
                                        <p>
                                            <select multiple formControlName="preg33" name="preg33" id="preg33">
                                                <option  value=null disabled selected>seleccionar una o más de las siguientes opciones</option>
                                                <option  value="A">Vehículo con o sin motor</option>
                                                <option  value="B">Puesto fijo fuera de un techo común</option>
                                                <option  value="C">Puesto semifijo bajo un techo común en pasillos de un centro comercial</option>
                                                <option  value="D">Puesto semifijo en un tianguis</option>
                                                <option value="E">En un domicilio particular con una instalación especial</option>
                                                <option value="F">En un domicilio particular sin una instalación especial</option>
                                                <option  value="G">Otro lugar</option>
                                              </select>
                                        </p>
                                    </li>-->










<!--original

                <div class="col s12 m9">
                    <ul class="collapsible popout">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">work</i>Perfil del Negocio</div>
                            <div class="collapsible-body">
                                <ul class="collection">
                                    <li class="collection-item avatar" *ngFor="let pregsc1 of sec1; index as i;">
                                        <span class="title">{{pregsc1.quest}}</span>

                                        <p *ngFor="let resp of pregsc1.opts">
                                            <label>
                                                <input class="with-gap" name="{{'group'+[i]}}" type="radio"  />
                                                <span>{{resp}}</span>
                                              </label>
                                        </p>


                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <div class="collapsible-header"><i class="material-icons">card_travel</i>Perfil de Mercado</div>
                            <div class="collapsible-body">
                                <ul class="collection">
                                    <li class="collection-item avatar" *ngFor="let pregsc2 of sec2; index as i;">
                                        <span class="title">{{pregsc2.quest}}</span>

                                        <p *ngFor="let resp of pregsc2.opts">
                                            <label>
                                                <input class="with-gap" name="{{'group'+[i]}}" type="radio"  />
                                                <span>{{resp}}</span>
                                              </label>
                                        </p>


                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <div class="collapsible-header"><i class="material-icons">star_border</i>Reputación</div>
                            <div class="collapsible-body">
                                <ul class="collection">
                                    <li class="collection-item avatar" *ngFor="let pregsc3 of sec3; index as i;">
                                        <span class="title">{{pregsc3.quest}}</span>

                                        <p *ngFor="let resp of pregsc3.opts">
                                            <label>
                                                <input class="with-gap" name="{{'group'+[i]}}" type="radio"  />
                                                <span>{{resp}}</span>
                                              </label>
                                        </p>


                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <div class="collapsible-header"><i class="material-icons">place</i>Dirección</div>
                            <div class="collapsible-body">
                                <ul class="collection">
                                    <li class="collection-item avatar" *ngFor="let pregsc4 of sec4; index as i;">
                                        <span class="title">{{pregsc4.quest}}</span>

                                        <p *ngFor="let resp of pregsc4.opts">
                                            <label>
                                                <input class="with-gap" name="{{'group'+[i]}}" type="radio"  />
                                                <span>{{resp}}</span>
                                              </label>
                                        </p>


                                    </li>
                                </ul>
                            </div>
                        </li>




                    </ul>
                </div>

-->
