@media screen and ( max-width: 420px) {
    .collapsible-body {
        padding: 0;
    }
    .collection.with-header .collection-item.avatar {
        padding: 0;
    }
}

#loader{
    top: 30% !important;
}