<div class="col s12 m9">
    <ul class="collection with-header collapsible popout" id="prins">

        <li>

            <div class="collection-header collapsible-header"><i class="material-icons medium left">keyboard_arrow_down</i>Evaluación de tu Negocio</div>
            <div class="collapsible-body">
                <ul class="collapsible popout" id="perfilNegocio">

                    <li>
                        <div class="collapsible-header"><i class="material-icons">work</i>Perfil del Negocio</div>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <form ngNativeValidate [formGroup]="formScrPerNeg" (ngSubmit)="scrPerNegSend()">

                                    <li class="collection-item avatar validate" *ngFor="let scrPerNeg of scrPerNeg; index as i;">
                                        <span class="title">{{scrPerNeg.question}}</span>

                                        <p *ngFor="let resp of scrPerNeg.options; index as j;">
                                            <label>
                                            <input class="with-gap" (change)="changedPerNeg(j, i)" [(ngModel)]="scrPerNeg.resp" 
                                            formControlName="{{'scrPerNeg'+i}}" id="{{'scrPerNeg'+j}}" 
                                            value="{{resp.id}}" type="radio" required>
                                            <span>{{resp.name}}</span>
                                          </label>
                                        </p>


                                    </li>

                                    <br>
                                    <div class="col s12">
                                        <button class="waves-effect teal darken-4 btn left" type="submit">Siguiente
                                        <i class="material-icons prefix right">send</i>
                                    </button>
                                    </div>
                                </form>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header"><i class="material-icons">card_travel</i>Perfil de Mercado</div>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <form ngNativeValidate [formGroup]="formScrPerMer" (ngSubmit)="scrPerMerSend()">
                                    <li class="collection-item avatar" *ngFor="let scrPerMer of scrPerMer; index as i;">
                                        <span class="title">{{scrPerMer.question}}</span>

                                        <p *ngFor="let resp of scrPerMer.options; index as j;">
                                            <label>
                                            <input class="with-gap" (change)="changedPerMer(j, i)" [(ngModel)]="scrPerMer.resp" 
                                            formControlName="{{'scrPerMer'+i}}" id="{{'scrPerMer'+j}}"
                                            value="{{resp.id}}" type="radio"/>
                                            <span>{{resp.name}}</span>
                                          </label>
                                        </p>
                                    </li>
                                    <br>
                                    <div class="col s12">
                                        <button class="waves-effect teal darken-4 btn left" type="submit">Siguiente
                                        <i class="material-icons prefix right">send</i>
                                    </button>
                                    </div>
                                </form>
                            </ul>
                        </div>
                    </li>

                    
                    <li>
                        <div class="collapsible-header"><i class="material-icons">star_border</i>Reputación</div>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <form ngNativeValidate [formGroup]="formScrRep" (ngSubmit)="scrRepSend()">
                                    <li class="collection-item avatar" *ngFor="let scrRep of scrRep; index as i;">
                                        <span class="title">{{scrRep.question}}</span>

                                        <p *ngFor="let resp of scrRep.options; index as j;">
                                            <label>
                                            <input class="with-gap" (change)="changedRep(j, i)" [(ngModel)]="scrRep.resp" 
                                            formControlName="{{'scrRep'+i}}" id="{{'scrRep'+j}}" 
                                            value="{{resp.id}}" type="radio"/>
                                            <span>{{resp.name}}</span>
                                          </label>
                                        </p>
                                    </li>
                                    <br>
                                    <div class="col s12">
                                        <button class="waves-effect teal darken-4 btn left" type="submit">Siguiente
                                        <i class="material-icons prefix right">send</i>
                                    </button>
                                    </div>
                                </form>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>Dirección</div>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <form ngNativeValidate [formGroup]="formScrDir" (ngSubmit)="scrDirSend()">
                                    <li class="collection-item avatar" *ngFor="let scrDir of scrDir; index as i;">
                                        <span class="title">{{scrDir.question}}</span>

                                        <p *ngFor="let resp of scrDir.options; index as j;">
                                            <label>
                                            <input class="with-gap" (change)="changedDir(j, i)" [(ngModel)]="scrDir.resp" 
                                            formControlName="{{'scrDir'+i}}" id="dir_{{'scrDir'+j}}" 
                                            value="{{resp.id}}" type="radio"  />
                                            <span>{{resp.name}}</span>
                                          </label>
                                        </p>

                                    </li>
                                    <br>
                                    <div class="col s12">
                                        <button class="waves-effect teal darken-4 btn left" type="submit">Siguiente
                                        <i class="material-icons prefix right">send</i>
                                    </button>
                                    </div>
                                </form>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </li>

       
    </ul>
    <!--pruebas-->
    <div class="col s12">
      <a class="waves-effect teal darken-4 btn previous-step left">Atras
        <i class="material-icons prefix left">arrow_back_ios</i>
      </a>
      <a class="waves-effect  teal darken-4 btn modal-trigger right" (click)="sendQuestions()">
          <i class="material-icons prefix right">send</i> Continuar
      </a>
    </div>
</div>



<div id="loader" class="modal transparent z-depth-0 center">
    <div class="modal-content" >
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-green-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
    </div>    
</div>






<!--original

                <div class="col s12 m9">
                    <ul class="collapsible popout">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">work</i>Perfil del Negocio</div>
                            <div class="collapsible-body">
                                <ul class="collection">
                                    <li class="collection-item avatar" *ngFor="let pregsc1 of sec1; index as i;">
                                        <span class="title">{{pregsc1.quest}}</span>

                                        <p *ngFor="let resp of pregsc1.opts">
                                            <label>
                                                <input class="with-gap" name="{{'group'+[i]}}" type="radio"  />
                                                <span>{{resp}}</span>
                                              </label>
                                        </p>


                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <div class="collapsible-header"><i class="material-icons">card_travel</i>Perfil de Mercado</div>
                            <div class="collapsible-body">
                                <ul class="collection">
                                    <li class="collection-item avatar" *ngFor="let pregsc2 of sec2; index as i;">
                                        <span class="title">{{pregsc2.quest}}</span>

                                        <p *ngFor="let resp of pregsc2.opts">
                                            <label>
                                                <input class="with-gap" name="{{'group'+[i]}}" type="radio"  />
                                                <span>{{resp}}</span>
                                              </label>
                                        </p>


                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <div class="collapsible-header"><i class="material-icons">star_border</i>Reputación</div>
                            <div class="collapsible-body">
                                <ul class="collection">
                                    <li class="collection-item avatar" *ngFor="let pregsc3 of sec3; index as i;">
                                        <span class="title">{{pregsc3.quest}}</span>

                                        <p *ngFor="let resp of pregsc3.opts">
                                            <label>
                                                <input class="with-gap" name="{{'group'+[i]}}" type="radio"  />
                                                <span>{{resp}}</span>
                                              </label>
                                        </p>


                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <div class="collapsible-header"><i class="material-icons">place</i>Dirección</div>
                            <div class="collapsible-body">
                                <ul class="collection">
                                    <li class="collection-item avatar" *ngFor="let pregsc4 of sec4; index as i;">
                                        <span class="title">{{pregsc4.quest}}</span>

                                        <p *ngFor="let resp of pregsc4.opts">
                                            <label>
                                                <input class="with-gap" name="{{'group'+[i]}}" type="radio"  />
                                                <span>{{resp}}</span>
                                              </label>
                                        </p>


                                    </li>
                                </ul>
                            </div>
                        </li>




                    </ul>
                </div>

-->
